    <section id="footer">
        <div class="row">
            <div class="large-6 columns">
                <a href="{site_url}">
                    <img src="{site_url}/img/logo_footer.png" alt="">
                </a>
                <p>Buenabrigo Hotels & Spas. All Rights Reserved</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    {if segment_1=="es"}
                    <li><a href="/es/secciones/the-crew">EL <span class="bolder">EQUIPO</span></a></li>
                    <li><a href="/es/secciones/surfing-around">ALREDEDOR DE <span class="bolder">CHICAMA</span></a></li>
                    {if:else}
                    <li><a href="/en/sections/the-hotel">THE <span class="bolder">HOTEL</span></a></li>
                    <li><a href="/en/sections/surfing-around"><span class="bolder">SURFING</span> AROUND</a></li>
                    <li><a href="/en/sections/ways-to-get-here">WAYS TO <span class="bolder">GET HERE</span></a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </section>

    <script src="{site_url}/js/jquery.js"></script>
    <script src="{site_url}/js/expanding.js"></script>    
    <script src="{site_url}/js/foundation.min.js"></script>
    <script src="{site_url}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{site_url}/js/readmore.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){

        $(".play").click(function(){

          $("#youtube")[0].src += "&autoplay=1";

        });

        // $('.beyond_surfing_item p').readmore({
        //   speed: 200,
        //   maxHeight: 100
        // });

    });
	$(function() {
    	$("#check_in_date").datepicker();
    	$("#check_out_date").datepicker();
	});

    var divs = $('h1');
    $(window).on('scroll', function() {
     var st = $(this).scrollTop();
     divs.css({ 'opacity' : (1 - st/700) });
    });

    (function() {
        $(window).scroll(function() {
            var oVal;
            oVal = $(window).scrollTop() / 240;
            return $("#blur").css("opacity", oVal);
        });
    }).call(this);
    </script>
    </body>
</html>