    <section id="footer">
        <div class="row">
            <div class="medium-1 large-1 columns">
            	
				<!-- AddThis Follow BEGIN -->
				<div class="addthis_toolbox addthis_default_style follow-button">
				{if segment_1=='en'}
					<small>Follow Us</small> 
				{if:else}
					<small>Siguenos</small> 
				{/if}
				<a class="addthis_button_facebook_follow" addthis:userid="pages/Chicama-Surf-Resort/192937270740178"></a>
				</div>
				<!-- AddThis Follow END -->
            </div>        
            <div class="medium-4 large-5 columns">
                <!--<a href="{site_url}">
                    <img src="{site_url}/img/logo_footer.png" alt="">
                </a>-->
                <p>&copy; Buenabrigo Hotels & Spas. All Rights Reserved</p>
            </div>
            <div class="medium-7 large-6 columns">
                <ul class="inline-list right hide-for-small">
                    {if segment_1=="es"}
                    <li><a href="/es/secciones/the-crew">EL <span class="bolder">EQUIPO</span></a></li>
                    <li><a href="/es/secciones/surfing-around">ALREDEDOR DE <span class="bolder">CHICAMA</span></a></li>
                    {if:else}
                    <li><a href="/en/sections/the-stories">THE <span class="bolder">STORIES</span></a></li>
                    <li><a href="/en/sections/surfing-around"><span class="bolder">SURFING</span> AROUND</a></li>
                    <!--<li><a href="/en/sections/ways-to-get-here">WAYS TO <span class="bolder">GET HERE</span></a></li>-->
                    {/if}
                </ul>
            </div>
        </div>
    </section>
	
	<!--ADDTHIS-->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=hermanmarin"></script>

    <script src="{site_url}/js/jquery.js"></script>
    <script src="{site_url}/js/expanding.js"></script>    
    <script src="{site_url}/js/foundation.min.js"></script>
    <script src="{site_url}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{site_url}/js/readmore.js"></script>
    <script src="{site_url}/js/waypoints.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    {if segment_1=="es"}
        <!-- Begin: www.iperceptions.com --> <script type="text/javascript"> ;(function (w, d, s, l) { var r = 100, js, fjs = d.getElementsByTagName(s)[0], id = "IPerceptionsJS", a = "async", b = "defer",go = function() { if(d.getElementById(id)) { return; } js = d.createElement(s);js.src = w.location.protocol + "//ips-invite.iperceptions.com/webValidator.aspx?sdfc=96dc1bfa-118497-c1ce51a4-0cea-4257-bc87-8b7f2e3ad8ec&lID=3&source=91787"; js.id = id; js.type = "text/javascript"; js[a] = a; js[b] = b; fjs.parentNode.insertBefore(js, fjs); }; if(r < Math.floor(Math.random() * 100)) { d.cookie = "IPE_S_118497=0;Path=/;" } else if(!(/(^|;)\s*IPE(_S_)?118497=/.test(d.cookie))){ go(); } })(window, document, "script", "load");</script><!-- End: www.iperceptions.com -->
    {if:else}
        <!-- Begin: www.iperceptions.com --> <script type="text/javascript"> ;(function (w, d, s, l) { var r = 100, js, fjs = d.getElementsByTagName(s)[0], id = "IPerceptionsJS", a = "async", b = "defer",go = function() { if(d.getElementById(id)) { return; } js = d.createElement(s);js.src = w.location.protocol + "//ips-invite.iperceptions.com/webValidator.aspx?sdfc=96dc1bfa-118497-c1ce51a4-0cea-4257-bc87-8b7f2e3ad8ec&lID=1&source=91787"; js.id = id; js.type = "text/javascript"; js[a] = a; js[b] = b; fjs.parentNode.insertBefore(js, fjs); }; if(r < Math.floor(Math.random() * 100)) { d.cookie = "IPE_S_118497=0;Path=/;" } else if(!(/(^|;)\s*IPE(_S_)?118497=/.test(d.cookie))){ go(); } })(window, document, "script", "load");</script><!-- End: www.iperceptions.com -->
    {/if}
    <!-- Begin: www.iperceptions.com --> 
    <!--<script type="text/javascript"> ;(function (w, d, s, l) { var r = 100, js, fjs = d.getElementsByTagName(s)[0], id = "IPerceptionsJS", a = "async", b = "defer",go = function() { if(d.getElementById(id)) { return; } js = d.createElement(s);js.src = w.location.protocol + "//ips-invite.iperceptions.com/webValidator.aspx?sdfc=727a6d76-118497-8c3d1c74-0472-431c-b2cb-17be86863d16&lID=1&source=91787"; js.id = id; js.type = "text/javascript"; js[a] = a; js[b] = b; fjs.parentNode.insertBefore(js, fjs); }; if(r < Math.floor(Math.random() * 100)) { d.cookie = "IPE_S_118497=0;Path=/;" } else if(!(/(^|;)\s*IPE(_S_)?118497=/.test(d.cookie))){ go(); } })(window, document, "script", "load");</script>--><!-- End: www.iperceptions.com -->

    <script>
    $(document).ready(function(){

        $(".play").click(function(){

          $("#youtube")[0].src += "&autoplay=1";

        });

        // $('.beyond_surfing_item p').readmore({
        //   speed: 200,
        //   maxHeight: 100
        // });

    });
    /*$(function() {
        $("#testimonio").waypoint(function (d) {
            console.log("detectando caida");
            return "down" === d ? $("#caja_lateral").addClass("is-fixed") : $("#caja_lateral").removeClass("is-fixed");
        });
    }); */
    $(function() {
        $( "#check_in_date" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#check_out_date" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
      });
    /*
	$(function() {
    	$("#check_in_date").datepicker({ dateFormat: 'ddmmyy' });
    	$("#check_out_date").datepicker({ dateFormat: 'ddmmyy' });
	});*/

    var divs = $('h1');
    $(window).on('scroll', function() {
     var st = $(this).scrollTop();
     divs.css({ 'opacity' : (1 - st/700) });
    });

    (function() {
        $(window).scroll(function() {
            var oVal;
            oVal = $(window).scrollTop() / 240;
            return $("#blur").css("opacity", oVal);
        });
    }).call(this);
    </script>
    
    <!--ANALYTICS-->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-49007967-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
	ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>    

	<!--Crazy Egg-->
	<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/5945.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	</script>

    </body>
</html>