    <section id="footer">
        <div class="row">
            <div class="large-6 columns">
                <a href="{site_url}">
                    <img src="{site_url}/img/logo_footer.png" alt="">
                </a>
                <p>Buenabrigo Hotels & Spas. All Rights Reserved</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="/content/secciones/the-hotel">THE <span class="bolder">HOTEL</span></a></li>
                    <li><a href="/content/secciones/surfing-around"><span class="bolder">SURFING</span> AROUND</a></li>
                    <li><a href="/content/secciones/ways-to-get-here">WAYS TO <span class="bolder">GET HERE</span></a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="{site_url}/js/jquery.js"></script>
    <script src="{site_url}/js/expanding.js"></script>    
    <script src="{site_url}/js/foundation.min.js"></script>
    <script src="{site_url}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
    	$(function() {
	    	$("#check_in_date").datepicker();
	    	$("#check_out_date").datepicker();
    	});
    </script>
    </body>
</html>