<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
        <title>Chicama</title>
        <link rel="shortcut icon" href="{site_url}/img/favicon.ico" />
        <link rel="stylesheet" href="{site_url}/css/foundation.css" />
        <link rel="stylesheet" href="{site_url}/css/jquery-ui-1.10.4.custom.min.css" />
        <link rel="stylesheet" href="{site_url}/css/custom.css">
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
<!--[if lt IE 9]>
  <script src="{site_url}/js/ie9/html5shiv.js"></script>
  <script src="{site_url}/js/ie9/nwmatcher-1.2.5-min.js"></script>
  <script src="{site_url}/js/ie9/respond.min.js"></script>
  <script src="{site_url}/js/ie9/selectivizr-min.js"></script>
<![endif]-->
        <script src="{site_url}/js/modernizr.js"></script>
        <script type="text/javascript" src="//use.typekit.net/lsr8drn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    </head>
    <body>