<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chicama</title>
        <link rel="stylesheet" href="{site_url}/css/foundation.css" />
        <link rel="stylesheet" href="{site_url}/css/jquery-ui-1.10.4.custom.min.css" />
        <link rel="stylesheet" href="{site_url}/css/custom.css">
        <script src="{site_url}/js/modernizr.js"></script>
        <script type="text/javascript" src="//use.typekit.net/lsr8drn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>