    <section id="promo">
        <div class="row">
            <div class="large-9 large-centered columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">
                            <div class="large-7 columns">
                                <img src="{site_url}/img/promo_icon_es.png" alt="">
                                <h3>
                                    NO PIERDAS LAS <span class="bolder">EMOCIONES</span>
                                </h3>
                            </div>
                            <div class="large-5 columns">
                            	{exp:freeform:form
										form_id="4"
									return="content/index" 
								}
									{freeform:field:email
										attr:placeholder = "Ingrese su e-mail."}
									<button type="submit">
										<img src="{site_url}/img/send.png" alt="">
									</button>
                                {/exp:freeform:form}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>