    <section id="promo">
        <div class="row">
            {if segment_3!='book-a-room'}
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">
                            <div class="large-5 columns">
                                <img src="{site_url}/img/promo_icon.png" alt="">
                                <h3>
                                    DON’T MISS <span class="bolder">THE NEXT SWELL</span>
                                </h3>
                            </div>
                            
                                {exp:freeform:form
                                    form_id="4"
                                    return="en/thank-you"
                                    form:data-abide=""
                                    required="email"
                                }
                            <div class="large-2 columns">   
                                {freeform:field:email attr:placeholder = "Enter your e-mail." attr:required="" attr:pattern="email"}
                                <small class="error">E-mail is required.</small>
                            </div>
                            <div class="large-2 columns">       
                                {freeform:field:country attr:required=""}
                                <small class="error">Required field.</small>
                            </div>
                            <div class="large-2 columns">       
                                {freeform:field:surfer attr:required=""}
                                <small class="error">Required field.</small>
                            </div>
                            <div class="large-1 columns">       
                                <button type="submit">
                                    <img src="{site_url}/img/send.png" alt="">
                                </button>
                            </div>      
                                {/exp:freeform:form}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </section>