    <section id="promo">
        <div class="row">
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">
                            <div class="large-5 columns">
                                <img src="{site_url}/img/promo_icon_es.png" alt="">
                                <h3>
                                    BOLETÍN DE <span class="bolder">PROMOCIONES</span>
                                </h3>
                            </div>
                            
                                {exp:freeform:form
                                    form_id="5"
                                    return="es/gracias"
                                    form:data-abide=""
                                }
                            <div class="large-2 columns">   
                                {freeform:field:email attr:placeholder = "Ingrese su e-mail." attr:required="" attr:pattern="email"}
                                <small class="error">Ingrese su e-mail .</small>
                            </div>
                            <div class="large-2 columns">       
                                {freeform:field:country attr:required=""}
                                <small class="error">Campo requerido.</small>
                            </div>
                            <div class="large-2 columns">       
                                {freeform:field:corres_tabla attr:required=""}
                                <small class="error">Campo requerido.</small>
                            </div>
                            <div class="large-1 columns">       
                                <button type="submit">
                                    <img src="{site_url}/img/send.png" alt="">
                                </button>
                            </div>      
                                {/exp:freeform:form}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>