    <section id="promo">
        <div class="row">
            <div class="medium-10 medium-centered large-10 large-centered columns">
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <div class="row">
                            <div class="large-5 columns">
                                <img src="{site_url}/img/promo_icon.png" alt="">
                                <h3>
                                    DON’T MISS <span class="bolder">THE NEXT SWELL</span>
                                </h3>
                            </div>
                            
                            	{exp:freeform:form form_id="4" return="es/thank-you"}
                            <div class="large-3 columns">	
									{freeform:field:email attr:placeholder = "Enter your e-mail."}
							</div>
							<div class="large-2 columns">		
									{freeform:field:country}
							</div>
							<div class="large-1 columns">		
									{freeform:field:surfer}
							</div>
							<div class="large-1 columns">		
									<button type="submit">
										<img src="{site_url}/img/send.png" alt="">
									</button>
							</div>		
                                {/exp:freeform:form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>