html, body {
  height: 100%;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'cplay';
  src: url("../fonts/cplay.eot");
  src: url("../fonts/cplay.eot?#iefix") format("embedded-opentype"), url("../fonts/cplay.ttf") format("truetype"), url("../fonts/cplay.woff") format("woff"), url("../fonts/cplay.svg#cplay") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'cplay';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-play:before {
  content: "\e600"; }

.play:hover, .play:focus, .play:hover, .play:focus {
  background-color: transparent; }

input[type="text"], input[type="url"], textarea {
  margin: 0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-weight: 200; }

form {
  margin: 0; }

.row {
  max-width: 78.5rem; }

p {
  font-size: 1.1rem;
  font-weight: 300; }

.line {
  height: 1px;
  border: 0;
  background: #dadada;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white)); }

p {
  padding: 0;
  color: #2c2625; }

ul {
  margin-bottom: 0; }

h1, h2, h3, h4, h5 {
  color: #2c2625;
  font-family: "proxima-nova",sans-serif;
  font-style: normal; }

.bold {
  font-weight: bold; }

.bolder {
  font-weight: bolder; }

#book_button {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  transition: background-color linear 0.4s , border 0.4s;
  -webkit-transition: background-color linear 0.4s , border 0.4s;
  border: 3px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 100%;
  clear: none;
  margin-top: 0;
  position: fixed;
  z-index: 5; }
  #book_button:hover {
    background: black; }

#cover_container_index {
  background: #F3F3ED;
  height: 100%; }

#cover {
  min-height: 100%;
  /*height: auto !important;*/
  height: 100%;
  background: url("../img/full_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center; }
  #cover #book {
    padding-top: 3em; }
  #cover .headline {
    padding-top: 2.7em; }
  #cover h1, #cover h2, #cover h3, #cover h4, #cover h5, #cover p {
    color: #FFFFFF;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 100; }
  #cover .inline-list {
    float: right;
    margin-right: 0.5rem; }
    #cover .inline-list a {
      color: #FFFFFF;
      opacity: 1;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-top: 0.7rem; }
      #cover .inline-list a:hover {
        opacity: 0.7; }
  #cover .weather_bottom {
    position: absolute;
    width: 100%;
    bottom: 70px; }
  #cover .weather .weather_icon {
    height: 50px;
    position: relative; }
    #cover .weather .weather_icon img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  #cover .weather .weather_title {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.2em 0; }
    #cover .weather .weather_title span {
      color: #FFFFFF;
      font-size: 12px;
      font-family: "proxima-nova",sans-serif;
      font-weight: 300; }
  #cover .weather span {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300; }

.play {
  cursor: pointer;
  width: 67px;
  height: 67px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 4px white solid;
  background-color: transparent;
  padding: 0;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: 1.5em; }
  .play:hover {
    background: #fff;
    border-color: #ffffff;
    -webkit-transform: scale(1.1); }
  .play:hover .icon-play {
    color: #303336;
    top: 2px; }
  .play .icon-play {
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
    position: relative;
    top: 1px; }

#views {
  background-color: #FFFFFF;
  padding: 1.5em 0 2.5em;
  position: relative; }
  #views h3 {
    border-bottom: 1px solid #2c2625;
    margin-bottom: 1.875rem; }
  #views .gray_curve {
    height: 10%;
    width: 100%;
    background: #F3F3ED;
    border-bottom-left-radius: 80% 80%;
    border-bottom-right-radius: 80% 80%;
    position: absolute;
    z-index: 2;
    top: 0; }
  #views .white_curve {
    height: 10%;
    width: 100%;
    background: #FFFFFF;
    border-bottom-left-radius: 80% 80%;
    border-bottom-right-radius: 80% 80%;
    position: absolute;
    z-index: 1; }

#promo {
  background-color: #F3F3ED;
  padding: 1.25em 0;
  color: #2C2625; }
  #promo h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.7rem 0 0 0.2em;
    font-size: 1.45rem; }
  #promo form {
    margin: 8px 0 0 0; }
  #promo input, #promo select {
    display: inline-block;
    width: 100%;
    height: 2.5125rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E2E4DA;
    margin: 0;
    font-weight: 300; }
    #promo input:focus, #promo select:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-weight: 400; }
  #promo button {
    margin: 0.3rem 0 0 0.5em;
    padding: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
    outline: none; }

#footer {
  background-color: #2C2625;
  padding: 1.25em 0 1.25em 0; }
  #footer p, #footer ul li a {
    color: #A29F8A;
    display: inline-block;
    margin: 0.5rem 0 0 0; }
  #footer p {
    font-size: 0.8rem; }
  #footer img {
    padding-right: 1em; }
  #footer ul {
    margin-top: 0;
    margin-bottom: 0; }
  #footer small {
    color: #A29F8A;
    font-size: 0.7rem;
    margin-left: 0.2rem; }

.follow-button {
  margin-top: 0.55rem; }

.redes-sociales {
  margin-top: 2rem !important; }

figure {
  margin: 0;
  position: relative; }
  figure img {
    max-width: 100%;
    display: block;
    position: relative; }
  figure figcaption {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #ed4e6e;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  figure:hover figcaption {
    opacity: 1; }
  figure:hover .icono img {
    -webkit-transform: scale(1); }

.icono {
  width: 100%;
  height: 100%;
  position: absolute;
  clear: both; }
  .icono img {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: scale(0.8);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }

.cover_container {
  background: #F3F3ED;
  height: 75%;
  position: relative; }
  .cover_container h1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 100; }
    .cover_container h1 span {
      font-weight: 400; }
  .cover_container #book {
    padding-top: 3em; }
  .cover_container .inline-list {
    float: right; }
    .cover_container .inline-list a {
      color: #FFFFFF;
      opacity: 1;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-top: 0.7rem; }
      .cover_container .inline-list a:hover {
        opacity: 0.7; }
  .cover_container #blur {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }

.book_container {
  height: auto; }

.cover {
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background-position: center center;
  min-height: 715px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bg_cover_subscription {
  background: url("../img/the_hotel_cover.jpg") no-repeat;
  min-height: 90%;
  height: auto !important;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: table;
  width: 100%; }
  .bg_cover_subscription .content_center {
    display: table-cell;
    vertical-align: middle; }
    .bg_cover_subscription .content_center h1, .bg_cover_subscription .content_center h2, .bg_cover_subscription .content_center h3, .bg_cover_subscription .content_center h4 {
      color: #FFFFFF; }
    .bg_cover_subscription .content_center h1 {
      font-weight: 100; }
    .bg_cover_subscription .content_center a {
      font-weight: 500; }

#testimonio {
  background-color: #2C2625;
  margin-right: 0.9375rem;
  padding-right: 0.9375rem;
  position: absolute;
  top: -100px;
  z-index: 100;
  width: 92.5%; }
  #testimonio #tripadvisor_white {
    width: auto;
    right: 10px;
    bottom: 0;
    position: absolute; }
  #testimonio .testimonio_text {
    padding: 0.2rem 0.9375rem 0.2rem 0;
    padding-top: 10px; }
    #testimonio .testimonio_text img {
      width: auto; }
    #testimonio .testimonio_text a {
      display: block;
      margin-top: 1rem;
      color: #f7f7f7;
      font-size: 0.8rem;
      font-weight: 100; }
      #testimonio .testimonio_text a:hover {
        color: #f7f7f7; }
  #testimonio img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
  #testimonio h6, #testimonio span, #testimonio p {
    color: #FFFFFF; }
  #testimonio h6 {
    border: none;
    margin: 0; }
  #testimonio span {
    font-size: 0.7rem;
    font-weight: 100;
    color: #e3e3e3; }
  #testimonio p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0;
    margin-top: 0.5rem;
    font-weight: 300;
    font-style: italic; }

#the_wave_cover {
  background: url("../img/the_wave_cover.jpg"); }

#the_crew_cover {
  background: url("../img/the_crew_cover.jpg"); }

#beyond_surfing_cover {
  background: url("../img/beyond_surfing_cover.jpg"); }

#the_hotel_cover {
  background: url("../img/the_hotel_cover.jpg"); }

#surfing_around_cover {
  background: url("../img/surfing_around_cover.jpg"); }

#the_rooms_cover {
  background: url("../img/the_rooms_cover.jpg"); }

#the_stories_cover {
  background: url("../img/the_stories_cover.jpg"); }

.beyond_surfing_item, .the_hotel_item, .surfing_around_item, .the_crew_item {
  margin-bottom: 1em !important; }
  .beyond_surfing_item img, .the_hotel_item img, .surfing_around_item img, .the_crew_item img {
    width: 100%; }
  .beyond_surfing_item h4, .the_hotel_item h4, .surfing_around_item h4, .the_crew_item h4 {
    font-size: 1.3rem; }
  .beyond_surfing_item p, .the_hotel_item p, .surfing_around_item p, .the_crew_item p {
    font-size: 1rem; }

.the_stories_item {
  margin-bottom: 2em !important; }
  .the_stories_item img {
    width: auto; }
  .the_stories_item span {
    color: #808080;
    font-weight: 100; }
  .the_stories_item .tripadvisor_description p:nth-child(2) {
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #2c2625;
    font-size: 1rem; }
  .the_stories_item h4 {
    border: none !important;
    margin: 0; }

.title {
  position: absolute;
  width: 100%;
  bottom: 25px; }

#content {
  padding: 2.5em 0;
  position: relative; }
  #content .gray_curve {
    height: 20px;
    width: 100%;
    background: #F3F3ED;
    border-bottom-left-radius: 40% 100%;
    border-bottom-right-radius: 40% 100%;
    position: absolute;
    z-index: 2;
    top: 0; }
  #content .other_categories {
    list-style: none;
    margin-top: 10px;
    margin-left: 0; }
    #content .other_categories li {
      border-bottom: 1px solid #2c2625;
      padding: 0.5em 0;
      margin-bottom: 0; }
  #content h4, #content h6 {
    border-bottom: 1px solid #2c2625; }
  #content h4 {
    font-weight: 400;
    line-height: 125%;
    margin-top: -0.2rem; }
  #content ul {
    font-weight: 300;
    font-size: 1.05rem;
    margin: 1.5rem; }
    #content ul li {
      margin-bottom: 0.3rem; }

#myModal {
  padding: 1.8em;
  border: none;
  box-shadow: none; }
  #myModal .vimeo {
    padding-top: 0;
    margin-bottom: 0; }

.the_stories_user img {
  width: 100%;
  border: 10px solid #F3F3ED; }

/* BOOK A ROOM */
#book_a_room .send {
  text-transform: uppercase;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0; }
#book_a_room input[type="text"], #book_a_room input[type="url"], #book_a_room textarea {
  font-weight: 300;
  margin-bottom: 2em;
  position: relative; }
#book_a_room textarea {
  font-weight: 300;
  margin-bottom: 2em; }
#book_a_room small.error {
  position: absolute;
  top: 37px !important; }

.error {
  background: transparent !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  color: #f04124 !important; }

#form_box {
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 45px;
  margin-top: 4em;
  margin-bottom: 8em; }
  #form_box h3 {
    border-bottom: 1px solid #2c2625;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.2; }
  #form_box p {
    font-size: 1rem; }
  #form_box .send {
    float: right; }

/* END BOOK A ROOM */
/* map */
#map-container {
  height: 85%;
  max-width: 100%; }
  #map-container .large-12 {
    height: 100%; }
    #map-container .large-12 #map {
      height: 85%; }

@media only screen and (max-width: 40em) {
  #cover_container_index {
    height: 680px; }

  #book_button {
    position: inherit;
    width: 100%; }

  #cover .inline-list {
    width: 210px;
    margin: 0 auto;
    float: none; }

  #book .inline-list {
    width: 210px;
    margin: 0 auto;
    float: none; }
    #book .inline-list a {
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-top: 0.7rem; }

  .weather {
    position: relative;
    top: 2rem; }
    .weather .weather_icon {
      height: 30px;
      padding-top: 20px; }
    .weather .weather_title span {
      font-size: 9px !important; }
    .weather span {
      font-size: 0.9rem !important; }

  #footer {
    text-align: center; }
    #footer p {
      display: none; }

  #promo {
    text-align: center; }
    #promo h3 {
      font-size: 1.35rem; }

  .gray_curve {
    display: none; }

  .white_curve {
    display: none; }

  .headline h1 {
    font-size: 4rem; }

  #content h4 {
    font-weight: 400;
    line-height: 105%;
    margin: 0.3rem 0;
    padding-bottom: 0.4rem;
    font-size: 1.2rem; } }
@media only screen and (min-width: 40.063em) {
  #footer p {
    display: none; }

  #promo {
    text-align: center; }

  .gray_curve {
    display: none; }

  .white_curve {
    display: none; }

  .headline h1 {
    font-size: 4.5rem; } }
@media only screen and (min-width: 64.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  #cover h1 {
    line-height: 1;
    font-size: 7.75rem; }

  .cover h1 {
    font-size: 5.75rem; }

  #cover {
    border-bottom-left-radius: 45% 4%;
    border-bottom-right-radius: 45% 4%; }

  .cover {
    border-bottom-left-radius: 45% 4%;
    border-bottom-right-radius: 45% 4%; }

  #footer p {
    display: inline-block; }
  #footer img {
    width: 40%; }

  #views h3 {
    margin-bottom: 0; }

  .other_categories {
    margin-top: 55px !important; }

  .gray_curve {
    display: block; }

  .white_curve {
    display: block; }

  #promo form {
    text-align: left; }

  h2 {
    font-size: 2.3125rem; }

  h3 {
    font-size: 1.6875rem; }

  h4 {
    font-size: 1.4375rem; }

  #map-container {
    height: 85%;
    max-width: 100%; }
    #map-container .large-12 {
      height: 100%; }
      #map-container .large-12 #map {
        height: auto; } }
