$primary-color: #2C2625;
$padding: 1.25em 0;
$border-bottom: 1px solid #2C2625;
$color-black: #2C2625;
$color-brown: #8B623B;

html, body {
  	height: 100%;
  	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'cplay';
	src:url('../fonts/cplay.eot');
	src:url('../fonts/cplay.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cplay.ttf') format('truetype'),
		url('../fonts/cplay.woff') format('woff'),
		url('../fonts/cplay.svg#cplay') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'cplay';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e600";
}

.play:hover, .play:focus, .play:hover, .play:focus {
	background-color: transparent;
}

input[type="text"], input[type="url"], textarea {
	margin: 0;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #FDFDFD;
	font-weight: 200;
}

form{
	margin: 0;
}


.row {
	max-width: 78.5rem;
}

p{
	font-size: 1.1rem;
	font-weight: 300;
}



.line {
	// margin: 25px 0;
	height: 1px;
	border: 0;
	background: #dadada;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #ffffff));
}

p{
	padding: 0;
	color: $primary-color;
}

ul{
	margin-bottom: 0;
}

h1,h2,h3,h4,h5{
	color: $primary-color;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;	

}

.bold{
	font-weight: bold;
}

.bolder{
	font-weight: bolder;
}

#book_button{
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-weight: 600;
	line-height: 18px;
	transition: background-color linear 0.4s , border 0.4s;
	-webkit-transition: background-color linear 0.4s , border 0.4s;
	border: 3px solid transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	line-height: 100%;
	clear: none;
	margin-top: 0;
	position: fixed;
	z-index: 5;
	&:hover{
		// background: none;
		// border: 3px solid #fff;
		background: rgba(0, 0, 0, 1);
	}
}

.close-booking {
	position: relative;
	top: -1rem;
	left: 40rem;
	width: 1.3rem;
	font-size: 30px;
	cursor: pointer;
	&:hover {
		opacity:0.5;
	}
}


#cover_container_index{
	background: #F3F3ED;
	height: 100%;
}



#cover{
	min-height: 100%;
	/*height: auto !important;*/
	height: 100%;
	background: url("../img/full_bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background-position: center center;
	#book{
		padding-top: 3em;
	}
	.headline{
		padding-top: 2.7em;
	}	
	h1,h2,h3,h4,h5,p{
		color: #FFFFFF;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 100;
	}
	
	.inline-list{
		float: right;
		margin-right:0.5rem;
		a{
			color: #FFFFFF;
			opacity: 1;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 0.8rem;
			margin-top:0.7rem;
			&:hover{
				opacity: 0.7;
			}
		}
	}

	.weather_bottom{
		position: absolute;
		width: 100%;
		bottom: 70px;
	}

	.weather{
		.weather_icon{
			height: 50px;
			position: relative;
			img{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.weather_title{
			// border-top: 1px solid #FFFFFF;
			// border-bottom: 1px solid #FFFFFF;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			padding: 0.2em 0;		
			 span{
				color: #FFFFFF;
				font-size: 12px;
				font-family: "proxima-nova",sans-serif;
				font-weight: 300;
			}
		}
		span{
			color: #FFFFFF;
			font-size: 1.2rem;
			font-weight: 300;
		}
	}

}

.play {
	cursor: pointer;
	width: 67px;
	height: 67px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 4px white solid;
	background-color: transparent;
	padding:0;
	outline: none;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	margin-top: 1.5em;
	&:hover {
		background: #fff;
		border-color: #ffffff;
		-webkit-transform: scale(1.1);
	}
	&:hover .icon-play {
		color: #303336;
		top: 2px;
	}
	.icon-play { 
		font-size: 35px; 
		font-weight: normal; 
		color: #ffffff; 
		position: relative; 
		top: 1px;
	}
}


#views{
	background-color: #FFFFFF;
	padding: 1.5em 0 2.5em;
	position: relative;
	h3{
		border-bottom: $border-bottom;
		margin-bottom: 1.875rem;
	}
	
	.gray_curve{
		height: 10%;
		width: 100%;
		background: #F3F3ED;
		border-bottom-left-radius: 80% 80%;
		border-bottom-right-radius: 80% 80%;
		position: absolute;
		z-index: 2;
		top: 0;
	}

	.white_curve{
		height: 10%;
		width: 100%;
		background: #FFFFFF;
		border-bottom-left-radius: 80% 80%;
		border-bottom-right-radius: 80% 80%;
		position: absolute;
		z-index: 1;
	}


}


#promo{
	background-color: #F3F3ED;
	padding: $padding;
	color: #2C2625;
	h3{
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0.7rem 0 0 0.2em;
		font-size: 1.45rem;
	}
	form{
		margin: 8px 0 0 0;
	}
	input, select{
		display: inline-block;
		width: 100%;
		height: 2.5125rem;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: 1px solid #E2E4DA;
		margin: 0;
		font-weight: 300;
		&:focus{
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		font-weight: 400;
		}
	}
	button{
		margin: 0.3rem 0 0 0.5em;
		padding: 0;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		background-color: transparent;
		outline: none;
	}
}


#footer{
	background-color: #2C2625;
	padding: 1.25em 0 1.25em 0;
	p, ul li a{
		color: #A29F8A;
		display: inline-block;
		margin: 0.5rem 0 0 0;
	}
	p{
		font-size: 0.8rem;
	}
	img{
		padding-right: 1em;
	}
	ul{
		margin-top: 0;
		margin-bottom: 0;
	}
	small {
		color:#A29F8A;
		font-size: 0.7rem;
		margin-left:0.2rem;
	}
}

.follow-button{
	margin-top:0.55rem;
}

.redes-sociales {
	margin-top: 2rem !important;
}


figure {
	margin: 0;
	position: relative;
	img {
		max-width: 100%;
		display: block;
		position: relative;
		height: auto;
		width: 20.9rem;
	}
	figcaption {
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: #ed4e6e;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	&:hover figcaption{
		opacity: 1;
	}
	&:hover .icono img{
				-webkit-transform: scale(1);
	}


}

.icono{
	width: 100%;
	height: 100%;
	position: absolute;
	clear: both;
	img{
		// height: 50%;
		// width: 50%;
		overflow: auto;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		-webkit-transform: scale(0.8);
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}
}

.cover_container{
	background: #F3F3ED;
	height: 75%;
	position: relative;
	h1 {
		color: #FFFFFF;
		font-size: 3.75rem;
		line-height: 1;
		font-weight: 100;
		span{
			font-weight: 400;
		}
	}
	#book{
		padding-top: 3em;
	}

	.inline-list{
		float: right;
		a{
			color: #FFFFFF;
			opacity: 1;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 0.8rem;
			margin-top:0.7rem;
			&:hover{
				opacity: 0.7;
			}
		}
	}

	#blur {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
	}
}

.book_container{
	height: auto;
	background: url("../img/wood_pattern.jpg");
}

.cover{
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	background-position: center center;
	min-height: 715px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bg_cover_subscription{
	background: url("../img/the_hotel_cover.jpg") no-repeat;
	min-height: 90%;
	height: auto !important;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: table;
	width: 100%;
	.content_center{
		display: table-cell;
		vertical-align: middle;
			h1, h2, h3, h4{
			color: #FFFFFF;
		}
		h1{
			font-weight: 100;
		}
		a{
			font-weight: 500;
		}
	}
}


#testimonio{
	background-color: #2C2625;
	margin-right: 0.9375rem;
	padding-right: 0.9375rem;
	position: absolute;
	top: -100px;
	z-index: 100;
	width: 92.5%;
	#tripadvisor_white{
		width: auto;
		right: 10px;
		bottom: 0;
		position: absolute;
	}
	.testimonio_text{
		padding: 0.2rem 0.9375rem 0.2rem 0;
		padding-top: 10px;
		img{
			width: auto;
		}
		a{
			display: block;
			margin-top: 1rem;
			color: #f7f7f7;
			font-size: 0.8rem;
			font-weight:100;
			&:hover{
				color: #f7f7f7;
			}
		}
	}
	img{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	h6,span,p{
		color: #FFFFFF;
	}
	h6{
		border:none;
		margin: 0;
	}
	span{
		font-size: 0.7rem;
		font-weight: 100;
		color: #e3e3e3;
	}
	p{
		font-size: 0.8rem;
		line-height: 1.2;
		margin: 0;
		margin-top: 0.5rem;
		font-weight: 300;
		font-style: italic;
	}
}


#the_wave_cover{
	background: url("../img/the_wave_cover.jpg");
}
	
#the_crew_cover{
	background: url("../img/the_crew_cover.jpg");
}

#beyond_surfing_cover{
	background: url("../img/beyond_surfing_cover.jpg");
}

#the_hotel_cover{
	background: url("../img/the_hotel_cover.jpg");
}

#surfing_around_cover{
	background: url("../img/surfing_around_cover.jpg");
}

#the_rooms_cover{
	background: url("../img/the_rooms_cover.jpg");
}

#the_stories_cover{
	background: url("../img/the_stories_cover.jpg");
}

.beyond_surfing_item, .the_hotel_item, .surfing_around_item, .the_crew_item{
	margin-bottom: 1em !important;
	img{
		width: 100%;
	}
	h4 {
		font-size: 1.3rem;
	}
	p {
		font-size: 1rem;
	}
}

.the_stories_item{
	margin-bottom: 2em !important;
	img{
		width: auto;
	}
	span{
		color: #808080;
		font-weight: 100;
	}
	.tripadvisor_description{
		p:nth-child(2){
			margin: 0.5rem 0;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid #2c2625;
			font-size: 1rem;
		}
	}
	h4{
		border: none !important;
		margin: 0;
	}
}

.title{
	position: absolute;
	width: 100%;
	bottom: 25px;
}

#content{
	padding: 2.5em 0;
	position: relative;
	.gray_curve{
		height: 20px;
		width: 100%;
		background: #F3F3ED;
		border-bottom-left-radius: 40% 100%;
		border-bottom-right-radius: 40% 100%;
		position: absolute;
		z-index: 2;
		top: 0;
	}
	.other_categories{
		list-style: none;
		margin-top: 10px;
		margin-left: 0;
		li{
			border-bottom: $border-bottom;
			padding: 0.5em 0;
			margin-bottom: 0;
		}
	}
	h4, h6{
		border-bottom: $border-bottom;
	}
	h4{
		font-weight: 400;
		line-height: 125%;
		margin-top:-0.2rem;
	}
	ul{
		font-weight: 300;
		font-size: 1.05rem;
		margin: 1.5rem;
		li{
			margin-bottom: 0.3rem;
		}
	}
}

#myModal{
	padding: 1.8em;
	border: none;
	box-shadow: none;
	.vimeo{
		padding-top: 0;
		margin-bottom: 0;
	}
}


.the_stories_user{
	img{
		width: 100%;
		border: 10px solid #F3F3ED;
	}
}


/* BOOK A ROOM */

.book_a_room {
	.send {
		text-transform: uppercase;
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.8);
		margin: 0;
	}
	input[type="text"] {
		background: url(../img/calendar-icon.png) 95% center no-repeat;
		background-size: 13px;
		font-weight: 300;
		margin-bottom: 2em;
		position: relative;
	}

	textarea {
		font-weight: 300;
		margin-bottom: 2em;
	}

	small.error {
		position: absolute;
		top: 37px !important;
	}
}

.error {
	background: transparent !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	color: #f04124 !important;
}

#form_box,
#form_box_2,
#form_box_3,
#form_box_4,
#form_box_5,
#form_box_6{
	display: none;
	background-color: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 45px;
	margin-bottom: 8em;
	position: fixed;
	z-index: 5;
	margin-left: 0px;
	top: 96px;
	h2{
		color: #2c2625;
	}
	h3{
		display: inline-block;
		border-bottom: 1px solid #2c2625;
		margin-bottom: 3.5rem;
		margin-top: 0;
		font-weight: 200;
		line-height: 1.2;
		font-size: 1.8rem;
	}
	p{
		font-size: 1rem;
		// color: #2c2625;
		color: #888;
	}
	.phone{
		margin-left: 12px;
		font-size: 1.4rem;
		color: #888;
	}
	.send{
		float: right;
	}
	.book_a_room{
		padding-left: 1.4rem;
		input[type="text"]{
			height: 1.9rem;
			margin-bottom: 3.2em;
		}
		select{
			height: 1.9rem;
			width: 4rem;
			border-radius: 2px;
			padding: 0 1rem;
			color: #888;
		}
		.send{
			background: #8c6339;
			width: 8.5rem;
			height: 2.5rem;
			border-radius: 2px;
			font-size: 0.9rem;
			float: left;
			position: relative;
			top: -8px;
			font-weight: 100 !important;
			font-family: "proxima-nova",sans-serif;
			line-height: 0.5rem;
		}
	}
	.search_again{
		padding-left: 3.4rem;
	}
}
#form_box_2 {
	.main_form {
		select{
			width: 11rem;
			height: 2.9rem;		
		}
		.large-3{
			.large-9{
				text-align: right;
				margin-right: 0;
				margin-top: 62px;
			}
		}	
		button.send{
			background: #2e2113;
			float: right;
			margin-top: 40px;
		}
	}
}
#form_box,
#form_box_2,
#form_box_3,
#form_box_4,
#form_box_5,
#form_box_6{
	margin-top: 3em;
	position: static;
	display: block;
}

#form_box_4 {
	.book_a_room{
		input[type="text"]{
			background: none;
		}
		select{
			background-color: #fff;
			width: 100%;
			padding-left: 0.3rem;
			font-size: 0.8rem;
			color: #888;
			font-weight: 100;
		}
		button{
			float: inherit !important;
		}
	}
}

#steps_list {
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;
	margin-bottom: 4rem;
	padding: 0.5rem 0;

	.circle {
		color: $color-brown;
		border-radius: 50%;
		display: inline-block;
		font-size: 1.2rem;
		width: 30px;
		height: 30px;
		line-height: 30px;
		position: relative;
		+ p {
			font-size: 0.8rem;
			margin-bottom: 0;
			color: $color-brown;
		}
		
		&.done{
			color: $color-black;
			border: 1px solid $color-black;
			
			+ p {
				color: $color-black;
			}
		}

		&.active{
			color: $color-brown;
			border: 1px solid $color-brown;

			&:after{
				background: url(../img/book-step.png) no-repeat;
			}

			+ p {
				color: $color-brown;
			}
		}

		&:after {
			content: "";
			background: url(../img/book-step-current.png) no-repeat;
			position: absolute;
			width: 16px;
			left: 7rem;
			top: 0.7rem;
			height: 23px;
		}

		&.last:after{
			content: none;
		}
	}
}

/* step1 book a room */
#form_box_2_container {
	h4 {
		color: $color-brown;
		font-size: 1.5rem;
		line-height: 1;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}

	.item-room {
		margin-bottom: 3rem;

		.room-description {
			padding-left: 0;
			padding-right: 0;
		}

		h2 {
			font-size: 1.5rem;
			font-weight: 100;
			line-height: 1;
			margin-bottom: 2rem;
		}

		p {
			font-size: 0.95rem;
			font-weight: 100;
			letter-spacing: 1px;
			text-align: justify;
			padding-bottom: 3rem;
			border-bottom: 1px solid #ccc;
			color: #888;
			line-height: 2;
		}

		figure {
			position: relative;

			a {
				border: 2px solid white;
				border-radius: 5px;
				width: 1.8rem;
				line-height: 1.8rem;
				height: 1.8rem;
				position: absolute;
				right: 3rem;
				font-size: 1.5rem;
				color: white;
				font-weight: bold;
				bottom: 0.5rem;
			}
		}
	}
}
/* end step1 */

/* step2 book a room */
#form_box_3_container {
	h4 {
		color: $color-brown;
		font-size: 1.5rem;
		line-height: 1;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	
	.item-addon {
		border-bottom: 1px solid $color-black;
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;

		.addon-description {
			padding-left: 2rem;
			padding-right: 0;
		}
		
		.selector {
			p {
				font-size: .8rem;
				display: inline-block;
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			select {
				width: 4rem;
			}

			.addon-cost {
				line-height: 35px;
				font-size: 1.8rem;
				text-align: right;
			}
		}

		h2 {
			font-size: 1.5rem;
			font-weight: 100;
			line-height: 1;
			margin-bottom: 2rem;
		}

		p {
			font-size: 0.95rem;
			font-weight: 100;
			letter-spacing: 1px;
			text-align: justify;
			padding-bottom: 1rem;
			color: #888;
			line-height: 2rem;
		}

		figure {
			position: relative;

			a {
				border: 2px solid white;
				border-radius: 5px;
				width: 1.8rem;
				line-height: 1.8rem;
				height: 1.8rem;
				position: absolute;
				right: 0.5rem;
				font-size: 1.5rem;
				color: white;
				font-weight: bold;
				bottom: 0.5rem;
			}
		}

		.addon-cost {
			font-weight: 500;
		}

		.add {
			background: transparent;
			border: 1px solid $color-black;
			border-radius: 3px;
			color: $color-black;
			// height: 50px;
			text-transform: uppercase;
			font-size: 0.9rem;
			height: 2.6rem;
			line-height: 0.5;
			&.active {
				background: $color-black;
				color: white;
				font-size: 0.9rem;
				&:before {
					content: "✓ ";
				}
			}
		}
	}

	.large-3{
		.large-12{
			padding: 0;
		}
	}
}

#form_box_5{
	
	#title_reservation {
		margin-bottom: 3rem;
	}

	.sub-title {
		color: #888;
		text-transform: uppercase;
		font-size: 1rem;
	}

	.sub-title.first {
		margin-top: 1rem;
		margin-bottom: 2.5rem;
	}

	.your-stay {
		margin-bottom: 4rem;;
		p {
			color: #888;
			line-height: 2;
		}
		
	}

}

.your-stay {
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #8F8F8F;
	margin-top: 4.7rem;

	hr {
		border-color: #8F8F8F;
		margin: 0.5rem 0 1.3rem;
	}

	h2 {
		color: #8F8F8F;
		font-weight: 500;
		font-size: 1.5rem;
	}

	p {
		padding-bottom: 0;
		margin-bottom: 0;
		border: none;
	}

	.ys-label {
		color: #888 !important;
		margin-bottom: -0.3rem;
		font-size: 0.9rem;

		span {
			float: right;
		}
	}

	.ys-field {
		font-size: 0.9rem;
		font-weight: 500;
		margin-bottom: 0.5rem;

		span {
			float: right;
		}
	}
}

#form_box_6 {
	h2 {
		color: #888;
	}

	.body-msg {
		text-transform: uppercase;

		h4 {
			color: #888;
			font-size: 1rem;
			margin: 2rem 0 6rem;
		}
	}

	.button {
		float: none;
	}
}

figcaption {
	p{
		margin-top: 20px;
	}
}
/* step3 book a room */
table {
	thead {
		background: #939393;
		tr {
			th{
					color: #fff;
				}
			}
	}		
}

/*checkboxes customization*/
.addon{ 
	.label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		margin-right: 15px;
		font-size: 13px;
		background: transparent;
		color: #666;
	}
	input[type=checkbox] {
		display: none;
	}
	.label:before {
		content: "";
		background: url(../img/checkbox-unchecked.png) no-repeat;
		display: inline-block;
		background-size: 100%;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		position: absolute;
		left: 0;
		bottom: 1px;
		border-radius: 3px;
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	}
	input[type=checkbox]:checked + .label:before {
		content: "";
		background: url(../img/checkbox-checked.png) no-repeat;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		font-size: 15px;
		color: #f3f3f3;
		text-align: center;
    line-height: 15px;
    background-size: 100%;
	}
}
/* END BOOK A ROOM */

/* map */

#map-container {
	height: 85%;
	max-width: 100%;
	.large-12 {
		height: 100%;
		#map{
			height: 85%;
		}
	}
}

.overlay{
	display: none;
}
.overlay_active{
	.overlay{
		top: 0;
		background: rgba(0,0,0,0.1);
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 10;
		img{
			width: 54px !important;
			height: auto !important;
			z-index: 11;
			position: absolute;
			top: 40%;
			left: 46%;
		}
		div{
			z-index: 11;
			position: absolute;
			top: 46%;
			left: 46%;
		}
	}
}
@media only screen and (max-width: 40em) { 

	#cover_container_index {	
		height:680px;
	}
	
	#book_button {
		position:inherit;
		width:100%;
		margin-bottom: 0;
	}
	#form_box {
		width: 100%;
		position: static;
	}
	
	#cover {
		.inline-list {
			width:210px;
			margin:0 auto;
			float: none;
		}
	}
	
	#book {
		.inline-list {
			width:210px;
			margin:0 auto;
			float: none;
			a {
				text-transform: uppercase;
				font-size: 0.8rem;
				margin-top: 0.7rem;
			}
		}
	}	
	
	.weather{
		position: relative;
		top: 2rem;
		.weather_icon{
			height: 30px;
			padding-top:20px;
		}
		.weather_title{	
			 span{
				font-size: 9px !important;
			}
		}
		span{
			font-size: 0.9rem !important;
		}
	}	
	
	#footer{
		text-align: center;
		p{
			display: none;
		}
	}

	#promo{
		text-align: center;
		h3 {
			font-size: 1.35rem;
		}
	}

	.gray_curve{
		display: none;
	}

	.white_curve{
		display: none;
	}


	.headline{
		h1{
			font-size: 4rem;
		}
	}
	
	#content {
		h4 {
			font-weight: 400;
			line-height: 105%;
			margin: 0.3rem 0;
			padding-bottom: 0.4rem;
			font-size: 1.2rem;
		}
	}

}
@media only screen and (min-width: 40.063em) { 
	

	#footer{
		p{
			display: none;
		}
	}

	#promo{
		text-align: center;
	}

	.gray_curve{
		display: none;
	}

	.white_curve{
		display: none;
	}

	.headline{
		h1{
			font-size: 4.5rem;
		}
	}

}

@media only screen and (min-width: 64.063em) {

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  	#cover h1 {
  		line-height: 1;
    	font-size: 7.75rem; 
	}

  	.cover{
		h1{
			font-size: 5.75rem;
		}
	}
	#cover{
		border-bottom-left-radius: 45% 4%;
		border-bottom-right-radius: 45% 4%;
	}

	.cover{
		border-bottom-left-radius: 45% 4%;
		border-bottom-right-radius: 45% 4%;
	}

	#footer{
		p{
			display: inline-block;
		}
		img{
			width: 40%;
		}
	}

	#views{
		h3{
			margin-bottom: 0;
		}
	}
	.other_categories{
		margin-top: 55px !important;
	}

	.gray_curve{
		display: block;
	}

	.white_curve{
		display: block;
	}

	#promo{
		form{
			text-align: left;
		}
	}

  	h2 {
    	font-size: 2.3125rem; 
    }

  	h3 {
    	font-size: 1.6875rem; 
	}

  	h4 {
    	font-size: 1.4375rem; 
    } 

#map-container {
	height: 85%;
	max-width: 100%;
	.large-12 {
		height: 100%;
		#map{
			height: auto;
		}
	}
}

}