/* line 5, custom.scss */
html, body {
  height: 100%;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'cplay';
  src: url("../fonts/cplay.eot");
  src: url("../fonts/cplay.eot?#iefix") format("embedded-opentype"), url("../fonts/cplay.ttf") format("truetype"), url("../fonts/cplay.woff") format("woff"), url("../fonts/cplay.svg#cplay") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 23, custom.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cplay';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, custom.scss */
.icon-play:before {
  content: "\e600";
}

/* line 41, custom.scss */
.play:hover, .play:focus, .play:hover, .play:focus {
  background-color: transparent;
}

/* line 45, custom.scss */
input[type="text"], input[type="url"], textarea {
  margin: 0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-weight: 200;
}

/* line 54, custom.scss */
form {
  margin: 0;
}

/* line 59, custom.scss */
.row {
  max-width: 78.5rem;
}

/* line 65, custom.scss */
.line {
  height: 1px;
  border: 0;
  background: #dadada;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
}

/* line 73, custom.scss */
p {
  padding: 0;
  color: #2c2625;
}

/* line 78, custom.scss */
ul {
  margin-bottom: 0;
}

/* line 82, custom.scss */
h1, h2, h3, h4, h5 {
  color: #2c2625;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
}

/* line 89, custom.scss */
.bold {
  font-weight: bold;
}

/* line 93, custom.scss */
.bolder {
  font-weight: bolder;
}

/* line 97, custom.scss */
#book_button {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  transition: background-color linear 0.4s , border 0.4s;
  -webkit-transition: background-color linear 0.4s , border 0.4s;
  border: 3px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 100%;
  clear: none;
  margin-top: 25px;
}
/* line 111, custom.scss */
#book_button:hover {
  background: black;
}

/* line 118, custom.scss */
#cover {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url("../img/full_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
}
/* line 127, custom.scss */
#cover .row {
  padding-top: 1.5em;
}
/* line 129, custom.scss */
#cover .row .headline {
  padding-top: 2.5em;
}
/* line 133, custom.scss */
#cover h1, #cover h2, #cover h3, #cover h4, #cover h5, #cover p {
  color: #FFFFFF;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 100;
}
/* line 140, custom.scss */
#cover .inline-list {
  float: right;
}
/* line 142, custom.scss */
#cover .inline-list a {
  color: #FFFFFF;
}
/* line 148, custom.scss */
#cover .weather .weather_icon {
  height: 50px;
  position: relative;
}
/* line 151, custom.scss */
#cover .weather .weather_icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 160, custom.scss */
#cover .weather .weather_title {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-top: 0.2em;
  padding: 0.2em 0;
}
/* line 165, custom.scss */
#cover .weather .weather_title span {
  color: #FFFFFF;
  font-size: 12px;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
}
/* line 172, custom.scss */
#cover .weather span {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
}

/* line 182, custom.scss */
.play {
  cursor: pointer;
  width: 67px;
  height: 67px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 4px white solid;
  background-color: transparent;
  padding: 0;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: 1.5em;
}
/* line 199, custom.scss */
.play:hover {
  background: #fff;
  border-color: #ffffff;
  -webkit-transform: scale(1.1);
}
/* line 204, custom.scss */
.play:hover .icon-play {
  color: #303336;
  top: 2px;
}
/* line 208, custom.scss */
.play .icon-play {
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
  position: relative;
  top: 1px;
}

/* line 218, custom.scss */
#views {
  background-color: #FFFFFF;
  padding: 2.5em 0;
}
/* line 221, custom.scss */
#views h3 {
  border-bottom: 1px solid #2c2625;
  margin-bottom: 0;
}

/* line 228, custom.scss */
#promo {
  background-color: #F3F3ED;
  padding: 2.5em 0;
  color: #2C2625;
}
/* line 232, custom.scss */
#promo h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 0 0.2em;
}
/* line 238, custom.scss */
#promo form {
  margin: 8px 0 0 0;
}
/* line 241, custom.scss */
#promo input {
  display: inline-block;
  width: 85%;
  height: 2.5125rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #E2E4DA;
  margin: 0;
}
/* line 250, custom.scss */
#promo input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 258, custom.scss */
#promo button {
  margin: 0 0 0 0.5em;
  padding: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: transparent;
  outline: none;
}

/* line 270, custom.scss */
#footer {
  background-color: #2C2625;
  padding: 1.25em 0 1.25em 0;
}
/* line 273, custom.scss */
#footer p, #footer ul li a {
  color: #A29F8A;
  display: inline-block;
}
/* line 277, custom.scss */
#footer img {
  padding-right: 1em;
}
/* line 280, custom.scss */
#footer ul {
  margin-top: 0.7em;
}

/* line 292, custom.scss */
figure {
  margin: 0;
  position: relative;
}
/* line 295, custom.scss */
figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
/* line 300, custom.scss */
figure figcaption {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ed4e6e;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 321, custom.scss */
figure:hover figcaption {
  opacity: 1;
}
/* line 324, custom.scss */
figure:hover .icono img {
  -webkit-transform: scale(1);
}

/* line 331, custom.scss */
.icono {
  width: 100%;
  height: 100%;
  position: absolute;
  clear: both;
}
/* line 336, custom.scss */
.icono img {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0.8);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 355, custom.scss */
.cover {
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  min-height: 715px;
}
/* line 361, custom.scss */
.cover h1 {
  color: #FFFFFF;
  font-size: 2.75rem;
  line-height: 1;
  font-weight: 100;
  position: absolute;
  bottom: 5px;
}

/* line 371, custom.scss */
#the_wave_cover {
  background: url("../img/the_wave_cover.jpg");
}

/* line 375, custom.scss */
#the_crew_cover {
  background: url("../img/the_crew_cover.jpg");
}

/* line 379, custom.scss */
#beyond_surfing_cover {
  background: url("../img/beyond_surfing_cover.jpg");
}

/* line 383, custom.scss */
#the_hotel_cover {
  background: url("../img/the_hotel_cover.jpg");
}

/* line 387, custom.scss */
#surfing_around_cover {
  background: url("../img/surfing_around_cover.jpg");
}

/* line 391, custom.scss */
#the_rooms_cover {
  background: url("../img/the_rooms_cover.jpg");
}

/* line 395, custom.scss */
#the_stories_cover {
  background: url("../img/the_stories_cover.jpg");
}

/* line 399, custom.scss */
.beyond_surfing_item, .the_hotel_item, .surfing_around_item {
  margin-bottom: 1em !important;
}

/* line 404, custom.scss */
.title {
  position: absolute !important;
  bottom: 5px;
}

/* line 409, custom.scss */
#content {
  padding: 2.5em 0;
}
/* line 411, custom.scss */
#content .other_categories {
  list-style: none;
  margin: 0;
}
/* line 414, custom.scss */
#content .other_categories li {
  border-bottom: 1px solid #2c2625;
  padding: 0.5em 0;
}
/* line 419, custom.scss */
#content h4, #content h6 {
  border-bottom: 1px solid #2c2625;
}

/* line 425, custom.scss */
#myModal {
  padding: 1.8em;
  border: none;
  box-shadow: none;
}
/* line 429, custom.scss */
#myModal .vimeo {
  padding-top: 0;
  margin-bottom: 0;
}

/* line 437, custom.scss */
.the_stories_user img {
  width: 100%;
}

/* BOOK A ROOM */
/* line 446, custom.scss */
#book_a_room .send {
  text-transform: uppercase;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
}
/* line 452, custom.scss */
#book_a_room input[type="text"], #book_a_room input[type="url"], #book_a_room textarea {
  font-weight: 300;
  margin-bottom: 2em;
}

/* line 458, custom.scss */
#form_box {
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 45px;
  margin-top: 4em;
  margin-bottom: 8em;
}

/* END BOOK A ROOM */
@media only screen and (min-width: 40.063em) {
  /* line 475, custom.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 478, custom.scss */
  #cover h1 {
    line-height: 1;
    font-size: 7.75rem;
  }

  /* line 484, custom.scss */
  .cover h1 {
    font-size: 5.75rem;
  }

  /* line 489, custom.scss */
  h2 {
    font-size: 2.3125rem;
  }

  /* line 493, custom.scss */
  h3 {
    font-size: 1.7875rem;
  }

  /* line 497, custom.scss */
  h4 {
    font-size: 1.4375rem;
  }
}
