{embed="includes/header"}
<div class="row">
	<h2>Book A Room</h2>
	<form action="#" method="POST">
		<div class="row">
			<div class="large-3 columns">
				<div class="row">
					<div class="large-12 columns">
						<input type="text" name="check_out_date" value="" id="check_out" maxlength="150" placeholder="Check-out Date" required="" class="hasDatepicker">
						<input type="text" name="check_in_date" value="" id="check_in" maxlength="150" placeholder="Check-in Date" required="" class="hasDatepicker">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<div class="row">
					<div class="large-6 columns">
						<select name="persons_number" id="freeform_persons_number" required="" pattern="number" data-invalid="">
							<option value="" selected="selected">GN</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="large-6 columns">
						<select name="room_type" id="freeform_room_type" required="" pattern="number" data-invalid="">
							<option value="" selected="selected">RT</option>
							<option value="1">Simple</option>
							<option value="2">Double</option>
							<option value="3">Triple</option>
							<option value="4">Suite</option>
						</select>
					</div>
				</div>
	        </div>
        </div>
        <input type="submit" name="submit" value="Submit" class="send button"> 
	</form>
</div>
{embed="includes/footer"}
<script>
	$(function() {
    	$("#check_in").datepicker();
    	$("#check_out").datepicker();
	});
</script>