{exp:infhotel:tipodetarjeta}
{/exp:infhotel:tipodetarjeta}

{exp:infhotel:tipodedocumento}
{/exp:infhotel:tipodedocumento}

{exp:infhotel:pais}
{/exp:infhotel:pais}

{exp:infhotel:tipodehabitacion}
{/exp:infhotel:tipodehabitacion}

{exp:infhotel:disponibilidadhabitaciones fecha_checkin="01042014" fecha_checkout="05042014"}
{/exp:infhotel:disponibilidadhabitaciones}

{exp:infhotel:tarifadehabitacionesdisponibles fecha_checkin="01042014" fecha_checkout="05042014"}
{/exp:infhotel:tarifadehabitacionesdisponibles}

{exp:infhotel:tipodehabitacion}
{/exp:infhotel:tipodehabitacion}

{exp:infhotel:insertarreservar}
{/exp:infhotel:insertarreservar}