{embed="includes/header"}
<form id="book_a_room" action="/?/content/reserva" method="POST">
	<input type="hidden" name="XID" value="{XID_HASH}" /> 
	<div id="form_box_2">
		<div class="row">
			<div id="title_reservation" class="row">
					<div class="large-4 columns">
						<h2>NEW RESERVATION</h2>
					</div>
					<div class="large-4 large-offset-4 columns">
						<p>Phone reservations +511-440-6040</p>
						{exp:get_post_vars parse="inward"}
							<p>FECHA CHECKIN: {post_check_in_date} </p>
							<p>FECHA CHECKOUT: {post_check_out_date}</p>
							<p>ROOM: {post_room_number}</p>
						{/exp:get_post_vars}
					</div>
			</div>

		</div>
		<div class="row">
			<div id="sub_title_reservation" class="row">
				<div class="large-6 columns "> 
					{exp:get_post_vars parse="inward"}
					<b><h3 id="step_in_reservation">Room 1 of {post_room_number}</h3></b>
					{/exp:get_post_vars}
					<b><p>Select from availability below</p></b>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<h4>Room Type</h4>
				</div>
				<div class="large-7 columns">
					<h4>Average Rate per Night</h4>
				</div>
			</div>
			{exp:get_post_vars parse="inward"}
				{exp:infhotel:disponibilidadinicialhabitaciones3
					fecha_checkin = "{post_check_in_date}"
					fecha_checkout = "{post_check_out_date}"
					rooms_num =  "{post_room_number}" 
				}
				{/exp:infhotel:disponibilidadinicialhabitaciones3}
			{/exp:get_post_vars}
		</div>
	</div>
</form>

{exp:infhotel:tercer_paso}

{embed="includes/footer"}
	{exp:get_post_vars parse="inward"}
<script>
	$(function() {
		num_hab = {post_room_number};
		$("#form_box_3").hide();
		hide_divs(num_hab,0);
      });

	$(function() {
		//var tercer_paso = new String('{exp:infhotel:tercer_paso}');
		var num_hab = {post_room_number};
		var checkin_date ="";
		var checkout_date ="";
		var checkin = ""+{post_check_in_date} ;
		var checkout = ""+{post_check_out_date} ;
		var simple = 0;
		var doble = 0;
		var triple = 0;
		var suite = 0;
		var hab_simple = {};

		checkin_date = checkin.substr(4, 4)+"-"+checkin.substr(2, 2)+"-"+checkin.substr(0, 2)+" 12:00:00.000";
		checkout_date = checkout.substr(4, 4)+"-"+checkout.substr(2, 2)+"-"+checkout.substr(0, 2)+" 12:00:00.000";
		var data = {
			 	"FLlegada": checkin_date,
			    "FSalida": checkout_date,
			    "HLlegada": checkin_date,
			    "HSalida": checkout_date,
			    "Habitaciones": {},
			    "MObservacion": "",				
                "NPasajero": 0,
                "Pasajeros" : {}
		};

		cambio_costos('#guests_simple0','#num_guest_simple0','#cost_simple0', "#type_hab_simple0","#final_cost_simple0");
		cambio_costos('#guests_simple1','#num_guest_simple1','#cost_simple1',"#type_hab_simple1","#final_cost_simple1");
		cambio_costos('#guests_simple2','#num_guest_simple2','#cost_simple2',"#type_hab_simple2","#final_cost_simple2");
		cambio_costos('#guests_simple3','#num_guest_simple3','#cost_simple3',"#type_hab_simple3","#final_cost_simple3");
		
		cambio_costos('#guests_doble0','#num_guest_doble0','#cost_doble0',"#type_hab_doble0","#final_cost_doble0");
		cambio_costos('#guests_doble1','#num_guest_doble1','#cost_doble1',"#type_hab_doble1","#final_cost_doble1");
		cambio_costos('#guests_doble2','#num_guest_doble2','#cost_doble2',"#type_hab_doble2","#final_cost_doble2");
		cambio_costos('#guests_doble3','#num_guest_doble3','#cost_doble3',"#type_hab_doble3","#final_cost_doble3");
		
		cambio_costos('#guests_triple0','#num_guest_triple0','#cost_triple0',"#type_hab_triple0","#final_cost_triple0");
		cambio_costos('#guests_triple1','#num_guest_triple1','#cost_triple1',"#type_hab_triple1","#final_cost_triple1");
		cambio_costos('#guests_triple2','#num_guest_triple2','#cost_triple2',"#type_hab_triple2","#final_cost_triple2");
		cambio_costos('#guests_triple3','#num_guest_triple3','#cost_triple3',"#type_hab_triple3","#final_cost_triple3");

		cambio_costos('#guests_suite0','#num_guest_suite0','#cost_suite0',"#type_hab_suite0","#final_cost_suite0");
		cambio_costos('#guests_suite1','#num_guest_suite1','#cost_suite1',"#type_hab_suite1","#final_cost_suite1");
		cambio_costos('#guests_suite2','#num_guest_suite2','#cost_suite2',"#type_hab_suite2","#final_cost_suite2");
		cambio_costos('#guests_suite3','#num_guest_suite3','#cost_suite3',"#type_hab_suite3","#final_cost_suite3");

		reservar_hab(num_hab, '#add_room_simple0', 1, 1,"#final_cost_simple0","#full_request","#num_guest_simple0");
		reservar_hab(num_hab, '#add_room_doble0', 1, 2,"#final_cost_doble0","#full_request","#num_guest_doble0");
		reservar_hab(num_hab, '#add_room_triple0', 1, 3,"#final_cost_triple0","#full_request","#num_guest_triple0");
		reservar_hab(num_hab, '#add_room_suite0', 1, 4,"#final_cost_suite0","#full_request","#num_guest_suite0");

		reservar_hab(num_hab, '#add_room_simple1', 2, 1,"#final_cost_simple1","#full_request","#num_guest_simple1");
		reservar_hab(num_hab, '#add_room_doble1', 2, 2,"#final_cost_doble1","#full_request","#num_guest_doble1");
		reservar_hab(num_hab, '#add_room_triple1', 2, 3,"#final_cost_triple1","#full_request","#num_guest_triple1");
		reservar_hab(num_hab, '#add_room_suite1', 2, 4,"#final_cost_suite1","#full_request","#num_guest_suite1");

		reservar_hab(num_hab, '#add_room_simple2', 3, 1,"#final_cost_simple2","#full_request","#num_guest_simple2");
		reservar_hab(num_hab, '#add_room_doble2', 3, 2,"#final_cost_doble2","#full_request","#num_guest_doble2");
		reservar_hab(num_hab, '#add_room_triple2', 3, 3,"#final_cost_triple2","#full_request","#num_guest_triple2");
		reservar_hab(num_hab, '#add_room_suite2', 3, 4,"#final_cost_suite2","#full_request","#num_guest_suite2");

		reservar_hab(num_hab, '#add_room_simple3', 4, 1,"#final_cost_simple3","#full_request","#num_guest_simple3");
		reservar_hab(num_hab, '#add_room_doble3', 4, 2,"#final_cost_doble3","#full_request","#num_guest_doble3");
		reservar_hab(num_hab, '#add_room_triple3', 4, 3,"#final_cost_triple3","#full_request","#num_guest_triple3");
		reservar_hab(num_hab, '#add_room_suite3', 4, 4,"#final_cost_suite3","#full_request","#num_guest_suite3");

		var persona = {
			"TDocumento": "12345678",
            "TMaterno" : "pasajero01",  
            "TNacionalidad" : "069",      
            "TNombre" : "pasajero01",
            "TPaterno" : "pasajero01",  
            "TTarjeta" : "1234567890",
            "TTipoDocumento" : "02",
            "TTipoTarjeta" : "04" 
		} 
		//data["Habitaciones"]["0"]=habitacion;
		//data["Habitaciones"]["1"]=habitacion;
		//data["Habitaciones"]["2"]=habitacion;
		data["Pasajeros"]["0"]=persona; 

		//var send = JSON.stringify(data);
		//console.log(send);

	function cambio_costos(select_box , encabezado , precio, hab, final_cost){
		var  tipo_de_hab = $(hab).text();
		$(select_box).change(function(){
			if(tipo_de_hab=="Garden View"){
				switch($( select_box ).val()){ 
					case "1":
						$(encabezado).html("One Guest");
						$(precio).html("USD 100/night");
						$(final_cost).val("100");
						break;
					case "2":
						$(encabezado).html("Two Guests");
						$(precio).html("USD 130/night");
						$(final_cost).val("130");
						break;
					case "3":
						$(encabezado).html("Three Guests");
						$(precio).html("USD 160/night");
						$(final_cost).val("160");
						break;
					case "4":
						break;
				}
			}
			if(tipo_de_hab=="Ocean View"){
				switch($(select_box).val()){
					case "1":
						$(encabezado).html("One Guest");
						$(precio).html("USD 110/night");
						$(final_cost).val("110");
						break;
					case "2":
						$(encabezado).html("Two Guests");
						$(precio).html("USD 140/night");
						$(final_cost).val("140");
						break;
					case "3":
						$(encabezado).html("Three Guests");
						$(precio).html("USD 180/night");
						$(final_cost).val("180");
						break;
					case "4":
						break;
				}
			}
		});
	}
	function reservar_hab (rooms_num, buttom, next_div, type_hab, final_cost, request, select_box ){
			var orden = next_div - 1 ;
			switch(type_hab){
				case 1:
				    $(buttom).click(function(){
				    	console.log($(final_cost).val());
		    			var temp = {
	    				 	"CantHab" : 1, 
                            "NPrecio" : $(final_cost).val(),  
                            "TCodigoHabitacion" : "110001"
		    			};
				    	simple = simple + 1;
				    	hide_divs(rooms_num, next_div);
				    	//console.log(buttom+":"+simple);
				    	//console.log(data);
				    	data["Habitaciones"][orden]=temp;
				    	data["NPasajero"] = data["NPasajero"] + parseInt($( select_box ).val());
				    	var send = JSON.stringify(data);
				    	send = send.replace(/{/gi, "(a)");
				    	send = send.replace(/}/gi, "(b)");	
				    	send = send.replace(/"/gi, "(c)");
				    	send = send.replace(/:/gi, "(d)");
				    	send = send.replace(/ /gi, "(e)");
				    	send = send.replace(/,/gi, "(f)");
				    	$(request).val(send);
						console.log(send);
				    });
				    break;
				case 2:
				    $(buttom).click(function(){
				    	console.log($(final_cost).val());
				    	var temp = {
	    				 	"CantHab" : 1, 
                            "NPrecio" : $(final_cost).val(),  
                            "TCodigoHabitacion" : "110002"
		    			};
				    	doble = doble + 1;
				    	hide_divs(rooms_num, next_div);
				    	//console.log(buttom+":"+doble);
				    	//console.log(temp);
				    	data["Habitaciones"][orden]=temp;
				    	data["NPasajero"] = data["NPasajero"] + parseInt($( select_box ).val());
				    	var send = JSON.stringify(data);
				    	send = send.replace(/{/gi, "(a)");
				    	send = send.replace(/}/gi, "(b)");
				    	send = send.replace(/"/gi, "(c)");
				    	send = send.replace(/:/gi, "(d)");
				    	send = send.replace(/ /gi, "(e)");
				    	send = send.replace(/,/gi, "(f)");
				    	$(request).val(send);
						console.log(send);
				    });
				    break;
				case 3:
				    $(buttom).click(function(){
				    	console.log($(final_cost).val());
				    	var temp = {
	    				 	"CantHab" : 1, 
                            "NPrecio" : $(final_cost).val(),  
                            "TCodigoHabitacion" : "110003"
		    			};
				    	triple = triple + 1;
				    	hide_divs(rooms_num, next_div);
				    	//console.log(buttom+":"+triple);
				    	//console.log(temp);
				    	data["Habitaciones"][orden]=temp;
				    	data["NPasajero"] = data["NPasajero"] + parseInt($( select_box ).val());
				    	var send = JSON.stringify(data);
				    	send = send.replace(/{/gi, "(a)");
				    	send = send.replace(/}/gi, "(b)");
				    	send = send.replace(/"/gi, "(c)");
				    	send = send.replace(/:/gi, "(d)");
				    	send = send.replace(/ /gi, "(e)");
				    	send = send.replace(/,/gi, "(f)");
				    	$(request).val(send);
						console.log(send);
				    });
				    break;
				case 4:
				    $(buttom).click(function(){
				    	console.log($(final_cost).val());
				    	var temp = {
	    				 	"CantHab" : 1, 
                            "NPrecio" : $(final_cost).val(),  
                            "TCodigoHabitacion" : "110004"
		    			};
				    	suite = suite + 1;
				    	hide_divs(rooms_num, next_div);
				    	//window.location.replace("http://chicamasurf.com/content/newreservation3");
				    	//console.log(buttom+":"+suite);
				    	//console.log(data);
				    	data["Habitaciones"][orden]=temp;
				    	data["NPasajero"] = data["NPasajero"] + parseInt($( select_box ).val());
				    	var send = JSON.stringify(data);
				    	send = send.replace(/{/gi, "(a)");
				    	send = send.replace(/}/gi, "(b)");
				    	send = send.replace(/"/gi, "(c)");
				    	send = send.replace(/:/gi, "(d)");
				    	send = send.replace(/ /gi, "(e)");
				    	send = send.replace(/,/gi, "(f)");
				    	$(request).val(send);
						console.log(send);
				    });
				    break;
			}
		}
      });

function hide_divs (rooms_num, div_visible){
		for(i=0;i<rooms_num;i++){
			if(i==div_visible) {
				$("#rooms"+i).show();
			}
			else{
				$("#rooms"+i).hide();
			}
		}
		switch(div_visible){
			case 0:
				if(0<rooms_num){
			    	$("#step_in_reservation").html("Room 1 of "+num_hab);
			    }
			    else{
			    	$("#form_box_2").html($("#form_box_3").html());
			    }
			    break;
			case 1:
				if(1<rooms_num){
			    	$("#step_in_reservation").html("Room 2 of "+num_hab);
			    }
			    else{
			    	$("#form_box_2").html($("#form_box_3").html());
			    }
			    break;
			case 2:
			    if(2<rooms_num){
			    	$("#step_in_reservation").html("Room 3 of "+num_hab);
			    }
			    else{
			    	$("#form_box_2").html($("#form_box_3").html());
			    }
			    break;
			case 3:
			    if(3<rooms_num){
			    	$("#step_in_reservation").html("Room 4 of "+num_hab);
			    }
			    else{
			    	$("#form_box_2").html($("#form_box_3").html());
			    }
			    break;
			case 4:
					$("#form_box_2").html($("#form_box_3").html());
			    break; 
		}
	}
</script>
{/exp:get_post_vars}