{embed="includes/header"}
<form action="#" id="book_a_room">
	<div id="form_box">
		<div class="row">
			<div class="row">
					<div class="large-4 columns">
						<h1>New Reservation</h1>
					</div>
					<div class="large-4 large-offset-4 columns">
						<p>Phone reservations +511-440-6040</p>
					</div>
			</div>
			<div class="row">
				<div class="large-12 columns "> 
					<b><h4>Room 1 of 2</h4></b>
				</div>
				<div class="large-12 columns "> 
					<b><h4>Select from availability below</h4></b>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<h4>Room Type</h4>
				</div>
				<div class="large-7 columns">
					<h4>Average Rate per Night</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<div class="row">
						<div class="large-5 columns">
							<figure>
								 <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
							</figure>
						</div>
						<div class="large-7 columns">
							<h2>Single Room</h2>
						</div>	
					</div>
					<div class="row">
						<div class="large-12 columns">
							<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laudantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</figcaption>
						</div>
					</div>
				</div>
				<div class="large-7 columns">
					<div class="row">
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="male">Breakfast only
								<h2>USD 120/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="female">Value pack, including breakfast, lunch and meals.
								<h2>USD 150/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<div class="row">
						<div class="large-5 columns">
							<figure>
								 <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
							</figure>
						</div>
						<div class="large-7 columns">
							<h2>Single Room</h2>
						</div>	
					</div>
					<div class="row">
						<div class="large-12 columns">
							<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laudantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</figcaption>
						</div>
					</div>
				</div>
				<div class="large-7 columns">
					<div class="row">
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="male">Breakfast only
								<h2>USD 120/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="female">Value pack, including breakfast, lunch and meals.
								<h2>USD 150/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<div class="row">
						<div class="large-5 columns">
							<figure>
								 <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
							</figure>
						</div>
						<div class="large-7 columns">
							<h2>Single Room</h2>
						</div>	
					</div>
					<div class="row">
						<div class="large-12 columns">
							<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laudantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</figcaption>
						</div>
					</div>
				</div>
				<div class="large-7 columns">
					<div class="row">
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="male">Breakfast only
								<h2>USD 120/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="female">Value pack, including breakfast, lunch and meals.
								<h2>USD 150/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<div class="row">
						<div class="large-5 columns">
							<figure>
								 <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
							</figure>
						</div>
						<div class="large-7 columns">
							<h2>Single Room</h2>
						</div>	
					</div>
					<div class="row">
						<div class="large-12 columns">
							<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laudantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</figcaption>
						</div>
					</div>
				</div>
				<div class="large-7 columns">
					<div class="row">
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="male">Breakfast only
								<h2>USD 120/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>
						<div class="large-12 columns">
							<div class="large-8 columns">
								<input type="radio" name="options-meals" value="female">Value pack, including breakfast, lunch and meals.
								<h2>USD 150/night</h2>
							</div>
							<div class="large-4 columns">
								<button type="button">Click Me!</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{embed="includes/footer"}