{embed="includes/header"}
<form action="#" id="book_a_room">
	<div id="form_box">
		<div class="row">
			<div id="title_reservation" class="row">
					<div class="large-4 columns">
						<h2>NEW RESERVATION</h2>
					</div>
					<div class="large-4 large-offset-4 columns">
						<p>Phone reservations +511-440-6040</p>
						{exp:get_post_vars parse="inward"}
							<p>FECHA CHECKIN: {post_check_in_date} </p>
							<p>FECHA CHECKOUT: {post_check_out_date}</p>
							<p>ROOM: {post_room_number}</p>
						{/exp:get_post_vars}
					</div>
			</div>

		</div>
		<div class="row">
			<div id="sub_title_reservation" class="row">
				<div class="large-6 columns "> 
					<b><h3>Room 1 of 2</h3></b>
					<b><p>Select from availability below</p></b>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<h4>Room Type</h4>
				</div>
				<div class="large-7 columns">
					<h4>Average Rate per Night</h4>
				</div>
			</div>
			{exp:get_post_vars parse="inward"}
				{exp:infhotel:disponibilidadinicialhabitaciones3
					fecha_checkin = "{post_check_in_date}"
					fecha_checkout = "{post_check_out_date}"
					rooms_num =  "{post_room_number}" 
				}
				{/exp:infhotel:disponibilidadinicialhabitaciones3}
			{/exp:get_post_vars}
		</div>
	</div>
</form>
{embed="includes/footer"}
	{exp:get_post_vars parse="inward"}
<script>
	$(function() {
		num_hab = {post_room_number};
		for(i=1;i<num_hab;i++){
			$('#rooms'+i).hide();
		}
      });

	$(function() {
		var checkin_date ="";
		var checkout_date ="";
		var checkin = ""+{post_check_in_date} ;
		var checkout = ""+{post_check_out_date} ;
		
		checkin_date = checkin.substr(4, 4)+"-"+checkin.substr(2, 2)+"-"+checkin.substr(0, 2)+" 12:00:00.000";
		checkout_date = checkout.substr(4, 4)+"-"+checkout.substr(2, 2)+"-"+checkout.substr(0, 2)+" 12:00:00.000";
		var data = {
			 	"FLlegada": checkin_date,
			    "FSalida": checkout_date,
			    "HLlegada": checkin_date,
			    "HSalida": checkout_date
		};	
		var habitacion = {
			"CantHab" : "1" ,
			"NPrecio" : "150" ,
			"TCodigoHabitacion" : "120"
		}

		data["Habitaciones"]["0"]=habitacion;
		data["Habitaciones"]["1"]=habitacion;
		data["Habitaciones"]["2"]=habitacion;
		console.log(obj);
      });
</script>
{/exp:get_post_vars}