{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  <div id="cont" class="row">
    <div id="form_box_2_container" class="large-12 large-centered columns"> 
      <div id="form_box_2">
        <div class="row">
          <div id="title_reservation" class="large-12 columns">
            <div class="row">
              <div class="large-4 columns">
                <h3>NEW RESERVATION</h3>
              </div>
              <div class="large-4 large-offset-4 columns">
                <p class="phone">Phone reservations +511-440-6040</p>
              </div>
            </div>  
            <div class="row">
              <div class="large-9 large-centered columns">
                <form class="book_a_room search_again" action="/?/content/newreservation2" method="POST">
                	<input type="hidden" name="XID" value="{XID_HASH}" /> 
                  <div class="row">
                    {exp:get_post_vars parse="inward"}
                    <div class="large-3 columns">
                      <input type="text" id="check_in_date" name="check_in_date" placeholder="CHECK-IN" value="{post_check_in_date}">
                    </div>
                    <div class="large-3 columns">
                      <input type="text" id="check_out_date" name="check_out_date" placeholder="CHECK-OUT" value="{post_check_out_date}">
                    </div>
                    <div class="large-1 columns">
                      <label for="right-label" class="inline">Rooms</label>
                    </div>
                    <div class="large-2 columns">
                      <select name="room_number"  pattern="number" data-invalid="">
                        {if {post_room_number} == "1"}
                        <option selected value="1">1</option> 
                        {if:else}
                        <option value="1">1</option>
                        {/if}
                        {if {post_room_number} == "2"}
                        <option selected value="2">2</option> 
                        {if:else}
                        <option value="2">2</option>
                        {/if}
                        {if {post_room_number} == "3"}
                        <option selected value="3">3</option> 
                        {if:else}
                        <option value="3">3</option>
                        {/if}
                        {if {post_room_number} == "4"}
                        <option selected value="4">4</option> 
                        {if:else}
                        <option value="4">4</option>
                        {/if}
                      </select>
                    </div>
                     {/exp:get_post_vars}
                    <div class="large-3 columns end">
                      <input type="submit" class="button tiny send expand" value="search again">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="row" id="steps_list">
              <div class="large-9 large-centered columns text-center">
                <div class="row">
                  <div class="large-3 columns"><span class="circle active">1</span><p>SELECT ROOMS</p></div>
                  <div class="large-3 columns"><span class="circle">2</span><p>ADD SERVICE OPTIONS</p></div>
                  <div class="large-3 columns"><span class="circle">3</span><p>GUEST INFORMATION</p></div>
                  <div class="large-3 columns"><span class="circle last">4</span><p>CONFIRMATION</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
				<div class="row">
					<div class="large-12 columns">
					{exp:get_post_vars parse="inward"}
						<!-- <h4 id="step_in_reservation">Room 1 of {post_room_number}</h4> -->
						<h4 id="step_in_reservation">select your first room</h4>
					{/exp:get_post_vars}
						<!-- <h4 id="step_in_reservation2">select your first room</h4> -->
					</div>
				  <form class="book_a_room main_form" action="/?/content/reserva" method="POST">
						<input type="hidden" name="XID" value="{XID_HASH}" />
					    {exp:get_post_vars parse="inward"}
							{exp:infhotel:disponibilidadinicialhabitaciones_final
								fecha_checkin = "{post_check_in_date}"
								fecha_checkout = "{post_check_out_date}"
								rooms_num =  "{post_room_number}" 
							}
							{/exp:infhotel:disponibilidadinicialhabitaciones_final}
						{/exp:get_post_vars}
					</form>
				</div>
      </div>
    </div>  
  </div>  
</div>  
<div id="add_on">  
{exp:infhotel:reservation_3}
</div>
{embed="includes/footer"}
{exp:get_post_vars parse="inward"}
<script>
	$(function() {
		num_hab = {post_room_number};
		$("#room1").hide();
		$("#room2").hide();
		$("#room3").hide();
		$("#room4").hide();
		$("#price_room1").hide();
		$("#price_room2").hide();
		$("#price_room3").hide();
		$("#price_room4").hide();
		$("#form_box_3_container").hide();
		hide_divs(num_hab,0);
      });
	$(function() {
		var amount = 0;
		var num_hab = {post_room_number};
		var checkin_date ="";
		var checkout_date ="";
		var checkin = ""+"{post_check_in_date}";
		var checkout = ""+"{post_check_out_date}" ;
		var simple_garden = 0;
		var doble_garden = 0;
		var triple_garden = 0;
		var simple_ocean = 0;
		var doble_ocean = 0;
		var triple_ocean = 0;
		var sumary = { };

		var d1 = checkin.substr(0, 2)+"-"+checkin.substr(3, 2)+"-"+checkin.substr(6, 4);
		d1 = d1.split("-");
		var dat1 = new Date(d1[2], parseFloat(d1[1])-1, parseFloat(d1[0]));
		var d2 = checkout.substr(0, 2)+"-"+checkout.substr(3, 2)+"-"+checkout.substr(6, 4);
		d2 = d2.split("-");
		var dat2 = new Date(d2[2], parseFloat(d2[1])-1, parseFloat(d2[0]));
		
		var fin = dat2.getTime() - dat1.getTime();
		var dias = Math.floor(fin / (1000 * 60 * 60 * 24))  

		checkin_date = checkin.substr(6, 4)+"-"+checkin.substr(3, 2)+"-"+checkin.substr(0, 2)+" 12:00:00.000";
		checkout_date = checkout.substr(6, 4)+"-"+checkout.substr(3, 2)+"-"+checkout.substr(0, 2)+" 12:00:00.000";
		var data = {
			 	"FLlegada": checkin_date,
			    "FSalida": checkout_date,
			    "HLlegada": checkin_date,
			    "HSalida": checkout_date,
			    "Habitaciones": {},
			    "MObservacion": "",				
                "NPasajero": "0" ,
                "Pasajeros" : {}
		};
		console.log(data);
		cambio_costos('#guests_simple_garden0','#num_guest_simple_garden0','#cost_simple_garden0', "#type_hab_simple_garden0","#final_cost_simple_garden0");
    cambio_costos('#guests_simple_garden1','#num_guest_simple_garden1','#cost_simple_garden1',"#type_hab_simple_garden1","#final_cost_simple_garden1");
    cambio_costos('#guests_simple_garden2','#num_guest_simple_garden2','#cost_simple_garden2',"#type_hab_simple_garden2","#final_cost_simple_garden2");
    cambio_costos('#guests_simple_garden3','#num_guest_simple_garden3','#cost_simple_garden3',"#type_hab_simple_garden3","#final_cost_simple_garden3");
    cambio_costos('#guests_doble_garden0','#num_guest_doble_garden0','#cost_doble_garden0',"#type_hab_doble_garden0","#final_cost_doble_garden0");
    cambio_costos('#guests_doble_garden1','#num_guest_doble_garden1','#cost_doble_garden1',"#type_hab_doble_garden1","#final_cost_doble_garden1");
    cambio_costos('#guests_doble_garden2','#num_guest_doble_garden2','#cost_doble_garden2',"#type_hab_doble_garden2","#final_cost_doble_garden2");
    cambio_costos('#guests_doble_garden3','#num_guest_doble_garden3','#cost_doble_garden3',"#type_hab_doble_garden3","#final_cost_doble_garden3");
    cambio_costos('#guests_triple_garden0','#num_guest_triple_garden0','#cost_triple_garden0',"#type_hab_triple_garden0","#final_cost_triple_garden0");
    cambio_costos('#guests_triple_garden1','#num_guest_triple_garden1','#cost_triple_garden1',"#type_hab_triple_garden1","#final_cost_triple_garden1");
    cambio_costos('#guests_triple_garden2','#num_guest_triple_garden2','#cost_triple_garden2',"#type_hab_triple_garden2","#final_cost_triple_garden2");
    cambio_costos('#guests_triple_garden3','#num_guest_triple_garden3','#cost_triple_garden3',"#type_hab_triple_garden3","#final_cost_triple_garden3");
    cambio_costos('#guests_simple_ocean0','#num_guest_simple_ocean0','#cost_simple_ocean0', "#type_hab_simple_ocean0","#final_cost_simple_ocean0");
    cambio_costos('#guests_simple_ocean1','#num_guest_simple_ocean1','#cost_simple_ocean1',"#type_hab_simple_ocean1","#final_cost_simple_ocean1");
    cambio_costos('#guests_simple_ocean2','#num_guest_simple_ocean2','#cost_simple_ocean2',"#type_hab_simple_ocean2","#final_cost_simple_ocean2");
    cambio_costos('#guests_simple_ocean3','#num_guest_simple_ocean3','#cost_simple_ocean3',"#type_hab_simple_ocean3","#final_cost_simple_ocean3");
    cambio_costos('#guests_doble_ocean0','#num_guest_doble_ocean0','#cost_doble_ocean0',"#type_hab_doble_ocean0","#final_cost_doble_ocean0");
    cambio_costos('#guests_doble_ocean1','#num_guest_doble_ocean1','#cost_doble_ocean1',"#type_hab_doble_ocean1","#final_cost_doble_ocean1");
    cambio_costos('#guests_doble_ocean2','#num_guest_doble_ocean2','#cost_doble_ocean2',"#type_hab_doble_ocean2","#final_cost_doble_ocean2");
    cambio_costos('#guests_doble_ocean3','#num_guest_doble_ocean3','#cost_doble_ocean3',"#type_hab_doble_ocean3","#final_cost_doble_ocean3");
    cambio_costos('#guests_triple_ocean0','#num_guest_triple_ocean0','#cost_triple_ocean0',"#type_hab_triple_ocean0","#final_cost_triple_ocean0");
    cambio_costos('#guests_triple_ocean1','#num_guest_triple_ocean1','#cost_triple_ocean1',"#type_hab_triple_ocean1","#final_cost_triple_ocean1");
    cambio_costos('#guests_triple_ocean2','#num_guest_triple_ocean2','#cost_triple_ocean2',"#type_hab_triple_ocean2","#final_cost_triple_ocean2");
    cambio_costos('#guests_triple_ocean3','#num_guest_triple_ocean3','#cost_triple_ocean3',"#type_hab_triple_ocean3","#final_cost_triple_ocean3");
   	reservar_hab(num_hab, '#add_room_simple_garden0', 1, 1,"#final_cost_simple_garden0","#full_request","#guests_simple_garden0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_garden0', 1, 2,"#final_cost_doble_garden0","#full_request","#guests_doble_garden0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_garden0', 1, 3,"#final_cost_triple_garden0","#full_request","#guests_triple_garden0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_garden1', 2, 1,"#final_cost_simple_garden1","#full_request","#guests_simple_garden1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_garden1', 2, 2,"#final_cost_doble_garden1","#full_request","#guests_doble_garden1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_garden1', 2, 3,"#final_cost_triple_garden1","#full_request","#guests_triple_garden1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_garden2', 3, 1,"#final_cost_simple_garden2","#full_request","#guests_simple_garden2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_garden2', 3, 2,"#final_cost_doble_garden2","#full_request","#guests_doble_garden2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_garden2', 3, 3,"#final_cost_triple_garden2","#full_request","#guests_triple_garden2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_garden3', 4, 1,"#final_cost_simple_garden3","#full_request","#guests_simple_garden3","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_garden3', 4, 2,"#final_cost_doble_garden3","#full_request","#guests_doble_garden3","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_garden3', 4, 3,"#final_cost_triple_garden3","#full_request","#guests_triple_garden3","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_ocean0', 1, 4,"#final_cost_simple_ocean0","#full_request","#guests_simple_ocean0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_ocean0', 1, 5,"#final_cost_doble_ocean0","#full_request","#guests_doble_ocean0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_ocean0', 1, 6,"#final_cost_triple_ocean0","#full_request","#guests_triple_ocean0","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_ocean1', 2, 4,"#final_cost_simple_ocean1","#full_request","#guests_simple_ocean1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_ocean1', 2, 5,"#final_cost_doble_ocean1","#full_request","#guests_doble_ocean1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_ocean1', 2, 6,"#final_cost_triple_ocean1","#full_request","#guests_triple_ocean1","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_ocean2', 3, 4,"#final_cost_simple_ocean2","#full_request","#guests_simple_ocean2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_ocean2', 3, 5,"#final_cost_doble_ocean2","#full_request","#guests_doble_ocean2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_ocean2', 3, 6,"#final_cost_triple_ocean2","#full_request","#guests_triple_ocean2","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_simple_ocean3', 4, 4,"#final_cost_simple_ocean3","#full_request","#guests_simple_ocean3","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_doble_ocean3', 4, 5,"#final_cost_doble_ocean3","#full_request","#guests_doble_ocean3","#purchase_amount");
   	reservar_hab(num_hab, '#add_room_triple_ocean3', 4, 6,"#final_cost_triple_ocean3","#full_request","#guests_triple_ocean3","#purchase_amount");
    


    function cambio_costos(select_box , encabezado , precio, hab, final_cost){
			var  tipo_de_hab = $(hab).text();
			$(select_box).change(function(){	
				if(tipo_de_hab=="GARDEN VIEW"){
					switch($( select_box ).val()){ 
						case "1":
							$(encabezado).html("One Guest");
							$(precio).html("USD 100/night");
							$(final_cost).val("100");
							break;
						case "2":
							$(encabezado).html("Two Guests");
							$(precio).html("USD 130/night");
							$(final_cost).val("130");
							break;
						case "3":
							$(encabezado).html("Three Guests");
							$(precio).html("USD 160/night");
							$(final_cost).val("160");
							break;
						case "4":
							break;
					}
				}
				if(tipo_de_hab=="OCEAN VIEW"){
					switch($(select_box).val()){
						case "1":
							$(encabezado).html("One Guest");
							$(precio).html("USD 120/night");
							$(final_cost).val("120");
							break;
						case "2":
							$(encabezado).html("Two Guests");
							$(precio).html("USD 140/night");
							$(final_cost).val("140");
							break;
						case "3":
							$(encabezado).html("Three Guests");
							$(precio).html("USD 180/night");
							$(final_cost).val("180");
							break;
						case "4":
							break;
					}
				}
			});
		}

	function reservar_hab (rooms_num, buttom, next_div, type_hab, final_cost, request, select_box, purchase_amount ){
	var orden = next_div - 1 ;
	var summary_cost_final = "";
	var summary_room = "";
	var summary_cost = "";

	switch(type_hab){
	    case 1:
	        $(buttom).click(function(){
	        $("body").addClass("overlay_active");	
	        setTimeout(function(){$("body").removeClass("overlay_active")},2000);
		    	var valor = $(select_box).val();
    			var temp = {
				 	"CantHab" : 1, 
                    "NPrecio" : $(final_cost).val(),  
                    "TCodigoHabitacion" : "110001"
    			};
		    	simple_garden = simple_garden + 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
		    	summary_room = orden+1;
		    	summary_cost = $(final_cost).val();
		    	switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
		    	$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
		    	$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
	        hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
	        sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
		    	var send = JSON.stringify(data);
		    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
		    	$(request).val(send);
		    	$(purchase_amount).val(amount);
	        });
					
	        break;
	    case 2:
	        $(buttom).click(function(){
	        $("body").addClass("overlay_active");	
	        setTimeout(function(){$("body").removeClass("overlay_active")},2000);
		    	var valor = $(select_box).val();
    			var temp = {
				 	"CantHab" : 1, 
                    "NPrecio" : $(final_cost).val(),  
                    "TCodigoHabitacion" : "110002"
    			};
		    	doble_garden = doble_garden + 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
    			summary_room = orden+1;
					summary_cost = $(final_cost).val();
					switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
					$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
					$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
					hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
		    	sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
    	    	var send = JSON.stringify(data);
    	    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
    	    	$(request).val(send);
		    	$(purchase_amount).val(amount);
	        });
	        break;
	    case 3:
	        $(buttom).click(function(){
	        $("body").addClass("overlay_active");	
	        setTimeout(function(){$("body").removeClass("overlay_active")},2000);
		    	var valor = $(select_box).val();
    			var temp = {
				 	"CantHab" : 1, 
                    "NPrecio" : $(final_cost).val(),  
                    "TCodigoHabitacion" : "110003"
    			};
		    	triple_garden =triple_garden + 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(amount)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
    			summary_room = orden+1;
					summary_cost = $(final_cost).val();
					switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
					$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
					$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
					hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
		    	sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
		    	var send = JSON.stringify(data);
		    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
		    	$(request).val(send);
		    	$(purchase_amount).val(amount);
	        });
	        break;
	    case 4:
	        $(buttom).click(function(){
	        	$("body").addClass("overlay_active");	
	        	setTimeout(function(){$("body").removeClass("overlay_active")},2000);
	            var valor = $(select_box).val();
    			var temp = {
				 	"CantHab" : 1, 
                    "NPrecio" : $(final_cost).val(),  
                    "TCodigoHabitacion" : "110005"
    			};
		    	simple_ocean =simple_ocean + 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
    			summary_room = orden+1;
					summary_cost = $(final_cost).val();
					switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
					$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
					$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
					hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
		    	sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
		    	var send = JSON.stringify(data);
		    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
		    	$(request).val(send);
		    	$(purchase_amount).val(amount);
	        });
	        break;
	    case 5:
	        $(buttom).click(function(){
	        $("body").addClass("overlay_active");	
	        setTimeout(function(){$("body").removeClass("overlay_active")},2000);
	        var valor = $(select_box).val();
    			var temp = {
				 	"CantHab" : 1, 
                    "NPrecio" : $(final_cost).val(),  
                    "TCodigoHabitacion" : "110006"
    			};
		    	doble_ocean =doble_ocean+ 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
    			summary_room = orden+1;
					summary_cost = $(final_cost).val();
					switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
					$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
					$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
					hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
		    	sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
		    	var send = JSON.stringify(data);
		    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
		    	$(request).val(send);
		    	$(purchase_amount).val(amount);
		    	
			});
	        break;
	    case 6:
	        $(buttom).click(function(){
	        $("body").addClass("overlay_active");	
	        setTimeout(function(){$("body").removeClass("overlay_active")},2000);
	        var valor = $(select_box).val();
					var temp = {
				 	"CantHab" : 1, 
	                "NPrecio" : $(final_cost).val(),  
	                "TCodigoHabitacion" : "110007"
				};
		    	triple_ocean =triple_ocean + 1;
		    	amount = amount + parseInt($(final_cost).val())*100;
		    	var total_summary = amount;
   				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)*dias/100+".00</span>");
   				$("#summary_input").val($("#reserva_summary").html());
   				$("#rooms_input").val(amount*dias);
    			summary_room = orden+1;
					summary_cost = $(final_cost).val();
					switch(summary_cost){
		    		case "100":
		    			summary_cost_final="Garden View Single (1 person) for "+dias+" nights <span>$ "+(100*dias)+".00</span>";
		    		break;
		    		case "120":
		    			summary_cost_final="Ocean View Single (1 person) for "+dias+" nights <span>$ "+(120*dias)+".00</span>";
		    		break;
		    		case "130":
		    			summary_cost_final="Garden View Double (2 persons) for "+dias+" nights <span>$ "+(130*dias)+".00</span>";
		    		break;
		    		case "140":
		    			summary_cost_final="Ocean View Double (2 persons) for "+dias+" nights <span>$ "+(140*dias)+".00</span>";
		    		break;
		    		case "160":
		    			summary_cost_final="Garden View Triple (3 persons) for "+dias+" nights <span>$ "+(160*dias)+".00</span>";
		    		break;
		    		case "180":
		    			summary_cost_final="Ocean View Triple (3 persons) for "+dias+" nights <span>$ "+(180*dias)+".00</span>";
		    		break;
		    	}
					$("#title_room"+summary_room+"_summary").html("ROOM "+summary_room+":");
					$("#cost_room"+summary_room+"_summary").html(summary_cost_final);
					hide_divs(rooms_num, next_div);
	        data["Habitaciones"][orden]=temp;
		    	sumary[orden]=temp;
		    	data["NPasajero"] = parseInt(data["NPasajero"]) + parseInt(valor);
		    	var send = JSON.stringify(data);
		    	send = send.replace(/{/gi, "(a)");
		    	send = send.replace(/}/gi, "(b)");	
		    	send = send.replace(/"/gi, "(c)");
		    	send = send.replace(/:/gi, "(d)");
		    	send = send.replace(/ /gi, "(e)");
		    	send = send.replace(/,/gi, "(f)");
		    	$(request).val(send);
		    	$(purchase_amount).val(amount);
		    	
	        });
	        break;
	    } 
	}
});


  function agregar_costos_addons(buttom, check_box, input, purchase_amount, sumary, encabezado){

  	var checkin = ""+"{post_check_in_date}";
  	var checkout = ""+"{post_check_out_date}" ;
  	var d1 = checkin.substr(0, 2)+"-"+checkin.substr(3, 2)+"-"+checkin.substr(6, 4);
  	d1 = d1.split("-");
  	var dat1 = new Date(d1[2], parseFloat(d1[1])-1, parseFloat(d1[0]));
  	var d2 = checkout.substr(0, 2)+"-"+checkout.substr(3, 2)+"-"+checkout.substr(6, 4);
  	d2 = d2.split("-");
  	var dat2 = new Date(d2[2], parseFloat(d2[1])-1, parseFloat(d2[0]));
  	
  	var fin = dat2.getTime() - dat1.getTime();
  	var dias = Math.floor(fin / (1000 * 60 * 60 * 24));

    var cost_summary = "";
    $("#"+sumary).html("");
    $(check_box).prop("checked", false);
		$(buttom).removeClass("active");
    $(buttom).click(function( e ){
    	e.preventDefault();
    	if($(check_box).is(":checked")) {
    		if(sumary=="lunch_and_dinner_summary"){
    			$("#"+sumary).html("");
    		}
    		else{
    			if(sumary=="transport_summary"){
    				$("#"+sumary).html("");
    			}
    		}
        $(check_box).prop("checked", false);
        $(buttom).removeClass("active");
        $(buttom).html("add"); //select all checkboxes with class "checkbox1" 
        var total_summary = parseInt($("#rooms_input").val()) - parseInt($(input).val());
        $("#rooms_input").val( parseInt($("#rooms_input").val()) - parseInt($(input).val()) );
        console.log(total_summary);
        $(purchase_amount).val( parseInt($(purchase_amount).val()) - parseInt($(input).val()) );

   			$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)/100+".00</span>");
        $("#summary_input").val($("#reserva_summary").html());      
    	}
    	else{
        $(check_box).prop("checked", true);
        $(buttom).html("added");
        $(buttom).addClass("active"); //deselect all checkboxes with class "checkbox1"  
        if(sumary == "lunch_and_dinner_summary"){
    			switch($("#encabezado_lunch_and_dinner").html()){
    				case "$100.00":
    				$("#"+sumary).html("Lunch And Dinner (1 person) <span>"+$(encabezado).text()+"</span>");
    				break;
    				case "$200.00":
    				$("#"+sumary).html("Lunch And Dinner (2 persons) <span>"+$(encabezado).text()+"</span>");
    				break;
    				case "$300.00":
    				$("#"+sumary).html("Lunch And Dinner (3 persons) <span>"+$(encabezado).text()+"</span>");
    				break;
    			}
    		}
    		else{
    			if(sumary == "transport_summary"){
    				switch($("#encabezado_transport").html()){
    					case "$100.00":
    					$("#"+sumary).html("Transport (1 person) <span>"+$(encabezado).text()+"</span>");
    					break;
    					case "$200.00":
    					$("#"+sumary).html("Transport (2 persons) <span>"+$(encabezado).text()+"</span>");
    					break;
    					case "$300.00":
    					$("#"+sumary).html("Transport (3 persons) <span>"+$(encabezado).text()+"</span>");
    					break;
    				}
    			}
    		}
    		var total_summary = parseInt($("#rooms_input").val()) + parseInt($(input).val());
    		$("#rooms_input").val( parseInt($("#rooms_input").val()) + parseInt($(input).val()) );
    		console.log(total_summary);
        $(purchase_amount).val( parseInt($(purchase_amount).val()) + parseInt($(input).val()) );
 				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)/100+".00</span>");
        $("#summary_input").val($("#reserva_summary").html());
    	}
    });
  }

  function cambio_costos_addons(select_box, check_box, encabezado, input, purchase_amount, sumary){
    $(input).val("10000");
    $(select_box).change(function(){
        if($(check_box).is(":checked")){
          $(purchase_amount).val( parseInt($(purchase_amount).val()) - parseInt($(input).val()) );
          $("#rooms_input").val( parseInt($("#rooms_input").val()) - parseInt($(input).val()) );
        }
        switch($(select_box).val()){ 
          case "1":
            $(encabezado).html("$100.00");
            $(input).val("10000");
            if($(check_box).is(":checked")){
              $(purchase_amount).val( parseInt($(purchase_amount).val()) + parseInt($(input).val()) );
              $("#rooms_input").val( parseInt($("#rooms_input").val()) + parseInt($(input).val()) );
              var total_summary = $("#rooms_input").val();
              console.log(total_summary);
              //var total_summary = $("#purchase_amount").val();
   						$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)/100+".00</span>");
              $("#summary_input").val($("#reserva_summary").html());
              if(sumary=="lunch_and_dinner_summary"){
              	$("#"+sumary).html("Lunch And Dinner (1 person)<span>"+$(encabezado).text()+"</span>");
              }
              else{
              	if(sumary=="transport_summary"){
              		$("#"+sumary).html("Transport (1 person)<span>"+$(encabezado).text()+"</span>");
              	}
              }	
            }  
            break;
          case "2":
            $(encabezado).html("$200.00");
            $(input).val("20000");
            if($(check_box).is(":checked")){
              $(purchase_amount).val( parseInt($(purchase_amount).val()) + parseInt($(input).val()) );
              $("#rooms_input").val( parseInt($("#rooms_input").val()) + parseInt($(input).val()) );
    		    	var total_summary = $("#rooms_input").val();
    		    	console.log(total_summary);
              //var total_summary = $("#purchase_amount").val();
       				$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)/100+".00</span>");
              if(sumary=="lunch_and_dinner_summary"){
              	$("#"+sumary).html("Lunch And Dinner (2 persons)<span>"+$(encabezado).text()+"</span>");
              }
              else{
              	if(sumary=="transport_summary"){
              		$("#"+sumary).html("Transport (2 persons)<span>"+$(encabezado).text()+"</span>");
              	}
              }
            }
            break;
          case "3":
            $(encabezado).html("$300.00");
            $(input).val("30000");  
            if($(check_box).is(":checked")){
              $(purchase_amount).val( parseInt($(purchase_amount).val()) + parseInt($(input).val()) );
              $("#rooms_input").val( parseInt($("#rooms_input").val()) + parseInt($(input).val()) );
              var total_summary = $("#rooms_input").val();
              console.log(total_summary);
              //var total_summary = $("#purchase_amount").val();
   						$("#total_summary").html("TOTAL <span>$ "+parseInt(total_summary)/100+".00</span>");
              $("#summary_input").val($("#reserva_summary").html());
              if(sumary=="lunch_and_dinner_summary"){
              	$("#"+sumary).html("Lunch And Dinner (3 persons)<span>"+$(encabezado).text()+"</span>");
              }
              else{
              	if(sumary=="transport_summary"){
              		$("#"+sumary).html("Transport (3 persons)<span>"+$(encabezado).text()+"</span>");
              	}
              }
            }
            break;
        }
    });
  }

	function hide_divs (rooms_num, div_visible){
		var rooms_input_summary = $("#rooms_input").val();
    for(i=0;i<rooms_num;i++){
			if(i==div_visible) {
				$("#rooms"+i).show();
			}
			else{
				$("#rooms"+i).hide();
			}
		}
		switch(div_visible){
			case 0:
				if(0<rooms_num){
			    	//$("#step_in_reservation").html("Room 1 of "+num_hab);
			    	$("#step_in_reservation").html("SELECT YOUR FIRST ROOM");
			    }
			    else{
			    	$("#cont").html($("#contenedor").html());
			    	$("#add_on").html("");
			    	$("#form_box_3_container").show();
			    	$("#rooms_input").val(rooms_input_summary);
            cambio_costos_addons("#transport","#transport_checkbox","#encabezado_transport","#transport_input","#purchase_amount", "transport_summary");
            cambio_costos_addons("#lunch_and_dinner","#lunch_and_dinner_checkbox","#encabezado_lunch_and_dinner","#lunch_and_dinner_input" ,"#purchase_amount", "lunch_and_dinner_summary");
            agregar_costos_addons("#add_transport_buttom","#transport_checkbox","#transport_input","#purchase_amount","transport_summary", "#encabezado_transport")
            agregar_costos_addons("#add_lunch_and_dinner_buttom","#lunch_and_dinner_checkbox","#lunch_and_dinner_input","#purchase_amount", "lunch_and_dinner_summary","#encabezado_lunch_and_dinner");
            $("#summary_input").val($("#reserva_summary").html());
            $( "#check_in_date" ).datepicker({
              minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
              }
            });
            $( "#check_out_date" ).datepicker({
              //minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_in_date" ).datepicker( "option", "maxDate", selectedDate );
              }
            });
			    }
			    break;
			case 1:
				if(1<rooms_num){
			    	//$("#step_in_reservation").html("Room 2 of "+num_hab);
			    	$("#step_in_reservation").html("SELECT YOUR SECOND ROOM");
			    }
			    else{
			    	$("#cont").html($("#contenedor").html());
			    	$("#add_on").html("");
			    	$("#form_box_3_container").show();
			    	$("#rooms_input").val(rooms_input_summary);
            cambio_costos_addons("#transport","#transport_checkbox","#encabezado_transport","#transport_input","#purchase_amount", "transport_summary");
            cambio_costos_addons("#lunch_and_dinner","#lunch_and_dinner_checkbox","#encabezado_lunch_and_dinner","#lunch_and_dinner_input" ,"#purchase_amount", "lunch_and_dinner_summary");
            agregar_costos_addons("#add_transport_buttom","#transport_checkbox","#transport_input","#purchase_amount","transport_summary", "#encabezado_transport")
            agregar_costos_addons("#add_lunch_and_dinner_buttom","#lunch_and_dinner_checkbox","#lunch_and_dinner_input","#purchase_amount", "lunch_and_dinner_summary","#encabezado_lunch_and_dinner");
            $("#summary_input").val($("#reserva_summary").html());
            $( "#check_in_date" ).datepicker({
              minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
              }
            });
            $( "#check_out_date" ).datepicker({
              //minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_in_date" ).datepicker( "option", "maxDate", selectedDate );
              }
            });
			    }
			    break;
			case 2:
			    if(2<rooms_num){
			    	//$("#step_in_reservation").html("Room 3 of "+num_hab);
			    	$("#step_in_reservation").html("SELECT YOUR THIRD ROOM");
			    }
			    else{
			    	$("#cont").html($("#contenedor").html());
			    	$("#add_on").html("");
			    	$("#form_box_3_container").show();
			    	$("#rooms_input").val(rooms_input_summary);
            cambio_costos_addons("#transport","#transport_checkbox","#encabezado_transport","#transport_input","#purchase_amount", "transport_summary");
            cambio_costos_addons("#lunch_and_dinner","#lunch_and_dinner_checkbox","#encabezado_lunch_and_dinner","#lunch_and_dinner_input" ,"#purchase_amount", "lunch_and_dinner_summary");
            agregar_costos_addons("#add_transport_buttom","#transport_checkbox","#transport_input","#purchase_amount","transport_summary", "#encabezado_transport")
            agregar_costos_addons("#add_lunch_and_dinner_buttom","#lunch_and_dinner_checkbox","#lunch_and_dinner_input","#purchase_amount", "lunch_and_dinner_summary","#encabezado_lunch_and_dinner");
            $("#summary_input").val($("#reserva_summary").html());
            $( "#check_in_date" ).datepicker({
              minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
              }
            });
            $( "#check_out_date" ).datepicker({
              //minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_in_date" ).datepicker( "option", "maxDate", selectedDate );
              }
            });
			    }
			    break;
			case 3:
			    if(3<rooms_num){
			    	//$("#step_in_reservation").html("Room 4 of "+num_hab);
			    	$("#step_in_reservation").html("SELECT YOUR FOURTH ROOM");
			    }
			    else{
			    	$("#cont").html($("#contenedor").html());
			    	$("#add_on").html("");
			    	$("#form_box_3_container").show();
			    	$("#rooms_input").val(rooms_input_summary);
            cambio_costos_addons("#transport","#transport_checkbox","#encabezado_transport","#transport_input","#purchase_amount", "transport_summary");
            cambio_costos_addons("#lunch_and_dinner","#lunch_and_dinner_checkbox","#encabezado_lunch_and_dinner","#lunch_and_dinner_input" ,"#purchase_amount", "lunch_and_dinner_summary");
            agregar_costos_addons("#add_transport_buttom","#transport_checkbox","#transport_input","#purchase_amount","transport_summary", "#encabezado_transport")
            agregar_costos_addons("#add_lunch_and_dinner_buttom","#lunch_and_dinner_checkbox","#lunch_and_dinner_input","#purchase_amount", "lunch_and_dinner_summary","#encabezado_lunch_and_dinner");
            $("#summary_input").val($("#reserva_summary").html());
            $( "#check_in_date" ).datepicker({
              minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
              }
            });
            $( "#check_out_date" ).datepicker({
              //minDate: new Date(),
              dateFormat: 'dd/mm/yy',
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1,
              onClose: function( selectedDate ) {
                $( "#check_in_date" ).datepicker( "option", "maxDate", selectedDate );
              }
            });
			    }
			    break;
			case 4:
					$("#cont").html($("#contenedor").html());
					$("#add_on").html("");
					$("#form_box_3_container").show();
					$("#rooms_input").val(rooms_input_summary);
          cambio_costos_addons("#transport","#transport_checkbox","#encabezado_transport","#transport_input","#purchase_amount", "transport_summary");
          cambio_costos_addons("#lunch_and_dinner","#lunch_and_dinner_checkbox","#encabezado_lunch_and_dinner","#lunch_and_dinner_input" ,"#purchase_amount", "lunch_and_dinner_summary");
          agregar_costos_addons("#add_transport_buttom","#transport_checkbox","#transport_input","#purchase_amount","transport_summary", "#encabezado_transport")
          agregar_costos_addons("#add_lunch_and_dinner_buttom","#lunch_and_dinner_checkbox","#lunch_and_dinner_input","#purchase_amount", "lunch_and_dinner_summary","#encabezado_lunch_and_dinner");
          $("#summary_input").val($("#reserva_summary").html());
          $( "#check_in_date" ).datepicker({
            minDate: new Date(),
            dateFormat: 'dd/mm/yy',
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
              $( "#check_out_date" ).datepicker( "option", "minDate", selectedDate );
            }
          });
          $( "#check_out_date" ).datepicker({
            //minDate: new Date(),
            dateFormat: 'dd/mm/yy',
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
              $( "#check_in_date" ).datepicker( "option", "maxDate", selectedDate );
            }
          });
			    break; 
		}
	}
</script>
{/exp:get_post_vars}