{embed="includes/header"}
<form id="book_a_room" action="/?/content/reserva" method="POST">
	<input type="hidden" name="XID" value="{XID_HASH}" /> 
	<div id="form_box_2">
		<div class="row">
			<div id="title_reservation" class="row">
					<div class="large-4 columns">
						<h2>NEW RESERVATION</h2>
					</div>
					<div class="large-4 large-offset-4 columns">
						<p>Phone reservations +511-440-6040</p>
							<p>FECHA CHECKIN: 01-09-2014 </p>
							<p>FECHA CHECKOUT: 10-09-2014</p>
							<p>ROOM: 4</p>
					</div>
			</div>

		</div>
		<div class="row">
			<div id="sub_title_reservation" class="row">
				<div class="large-6 columns ">
					<b><h3 id="step_in_reservation">Room 1 of 4</h3></b>
					<b><p>Select from availability below</p></b>
				</div>
			</div>
			<div class="row">
				<div class="large-5 columns">
					<h4>Room Type</h4>
				</div>
				<div class="large-7 columns">
					<h4>Average Rate per Night</h4>
				</div>
			</div>
				{exp:infhotel:disponibilidadinicialhabitaciones_final}
				{/exp:infhotel:disponibilidadinicialhabitaciones_final}
		</div>

{embed="includes/footer"}
<script type="text/javascript">
	$(function() {
		num_hab = 4;
		$("#form_box_3").hide();
		hide_divs(num_hab,0);
      });
	$(function() {
	function cambio_costos(select_box , encabezado , precio, hab, final_cost){
			var  tipo_de_hab = $(hab).text();
			$(select_box).change(function(){
				if(tipo_de_hab=="Garden View"){
					switch($( select_box ).val()){ 
						case "1":
							$(encabezado).html("One Guest");
							$(precio).html("USD 100/night");
							$(final_cost).val("100");
							break;
						case "2":
							$(encabezado).html("Two Guests");
							$(precio).html("USD 130/night");
							$(final_cost).val("130");
							break;
						case "3":
							$(encabezado).html("Three Guests");
							$(precio).html("USD 160/night");
							$(final_cost).val("160");
							break;
						case "4":
							break;
					}
				}
				if(tipo_de_hab=="Ocean View"){
					switch($(select_box).val()){
						case "1":
							$(encabezado).html("One Guest");
							$(precio).html("USD 110/night");
							$(final_cost).val("110");
							break;
						case "2":
							$(encabezado).html("Two Guests");
							$(precio).html("USD 140/night");
							$(final_cost).val("140");
							break;
						case "3":
							$(encabezado).html("Three Guests");
							$(precio).html("USD 180/night");
							$(final_cost).val("180");
							break;
						case "4":
							break;
					}
				}
			});
		}
	});
	function hide_divs (rooms_num, div_visible){
			for(i=0;i<rooms_num;i++){
				if(i==div_visible) {
					$("#rooms"+i).show();
				}
				else{
					$("#rooms"+i).hide();
				}
			}
			switch(div_visible){
				case 0:
					if(0<rooms_num){
				    	$("#step_in_reservation").html("Room 1 of "+num_hab);
				    }
				    else{
				    	$("#form_box_2").html($("#form_box_3").html());
				    }
				    break;
				case 1:
					if(1<rooms_num){
				    	$("#step_in_reservation").html("Room 2 of "+num_hab);
				    }
				    else{
				    	$("#form_box_2").html($("#form_box_3").html());
				    }
				    break;
				case 2:
				    if(2<rooms_num){
				    	$("#step_in_reservation").html("Room 3 of "+num_hab);
				    }
				    else{
				    	$("#form_box_2").html($("#form_box_3").html());
				    }
				    break;
				case 3:
				    if(3<rooms_num){
				    	$("#step_in_reservation").html("Room 4 of "+num_hab);
				    }
				    else{
				    	$("#form_box_2").html($("#form_box_3").html());
				    }
				    break;
				case 4:
						$("#form_box_2").html($("#form_box_3").html());
				    break; 
			}
		}
</script>