{embed="includes/header"}
Redireccionando . . .
{exp:get_post_vars parse="inward"}
	{exp:vpost:test_envio
		purchaseAmount="{post_purchase_amount}"
		billingFirstName="{post_firstname}"
		billingLastName="{post_last_name}"
		billingEMail="{post_email}"
		billingAddress="{post_address}"}
	{/exp:vpost:test_envio}
	{/exp:get_post_vars}
<script src="{site_url}/js/jquery.js"></script>
<script src="{site_url}/js/expanding.js"></script>    
<script src="{site_url}/js/foundation.min.js"></script>
<script src="{site_url}/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{site_url}/js/readmore.js"></script>
<script src="{site_url}/js/waypoints.min.js"></script>
<script src="{site_url}/js/waypoints.min.js"></script>
<script src="{site_url}/js/custom.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript">
 $(function(){
	$('#form_envio').submit();
 });
</script>