{embed="includes/header"}
Redireccionando . . . 
{exp:get_post_vars parse="inward"}
	PurchaseAmount: {post_PurchaseAmount}
	billingFirstName: {post_firstname}
	billingLastName: {post_last_name}
	billingEMail: {post_email}
	billingAddress: {post_address}
{/exp:get_post_vars}
	{exp:vpost:test_envio
		purchaseAmount="100"
		billingFirstName="Gianfranco"
		billingLastName="Montoya"
		billingEMail="gms122@gmail.com"
		billingAddress="Av Belisario Suárez 488"}
	{/exp:vpost:test_envio}
<script src="{site_url}/js/jquery.js"></script>
<script src="{site_url}/js/expanding.js"></script>    
<script src="{site_url}/js/foundation.min.js"></script>
<script src="{site_url}/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{site_url}/js/readmore.js"></script>
<script src="{site_url}/js/waypoints.min.js"></script>
<script src="{site_url}/js/waypoints.min.js"></script>
<script src="{site_url}/js/custom.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript">
 $(function(){
	//$('#form_envio').submit();
 });
</script>