{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  {exp:channel:entries channel="secciones" limit="1"}
  <section class="cover" style="background: url('{imagen_de_fondo}{image:url:large}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%;">
  </section>
  <section id="blur" class="cover" style="background: url('{imagen_de_fondo}{image:url:large_blur}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%; z-index: 0;"></section>

{exp:vpost:test_envio
	purchaseAmount="100"
	billingFirstName="Gianfranco"
	billingLastName="Montoya"
	billingEMail="gms122@gmail.com"
	billingAddress="Av Belisario Suárez 488"}
{/exp:vpost:test_envio}

</div>	
{embed="includes/footer"}