{embed="includes/header"}
    <div id="cover_container_index">
        <section id="cover">
            <div id="book" class="row">
                <div class=" large-6 columns">
                    <a href="{site_url}/en/sections/book-a-room" id="book_button" class="button small radius"><span>BOOK A ROOM</span></a>
                    <div id="form_box" class="row" style="display:none">
                        <h2>Book A Room</h2>
                        <form id="book_a_room" action="/?/content/newreservation2" method="POST">
                            <input type="hidden" name="XID" value="{XID_HASH}" /> 
                            <div class="large-12 columns">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <input type="text" name="check_in_date" placeholder="Check-in Date" id="check_in_date">
                                        <input type="text" name="check_out_date" placeholder="Check-out Date" id="check_out_date">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-8 columns">
                                        <div class="large-4 columns">
                                            <p>Rooms</p>
                                        </div>
                                        <div class="large-6 columns">
                                            <select name="room_number"  id="freeform_persons_number" required="" pattern="number" data-invalid="">
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-3 large-offset-9 columns">
                                        <input type="submit" id="submit" name="submit" value="Check Availability" class="send button">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>
                <div class=" large-6 columns">
                    <ul class="inline-list">
	                    <li>
	                        <a href="{site_url}/en">Home</a>
	                    </li>
	                    <li>
	                        <a href="{site_url}/es">Spanish</a>
	                    </li>
	                    <li>
	                        <a href="{site_url}/en">English</a>
	                    </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="large-6 large-centered columns">
                    <div class="headline text-center">
                    	<div class="row">
                    		<div class="large-12 large-centered columns">
                                <img alt="CHICAMA" src="{site_url}/img/logo_top.png">
                            </div>
                    	</div>
                        <!--<h1>CHICAMA</h1>-->
                        <hr class="line">
                        <h4>In Peru history blends with the ocean.</h4>
                        <button data-reveal-id="myModal" class="play"><span class="icon-play"></span></button>
                        <div id="myModal" class="reveal-modal medium" data-reveal>
                            <div class="flex-video vimeo">
                                <iframe id="youtube" width="560" height="315" src="//www.youtube.com/embed/007FTSCIrZU?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <a class="close-reveal-modal">×</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather_bottom">
                <div class="row">
                        <div class="large-offset-2 large-10 columns">
                            <div class="row">
                                <div class="medium-offset-3 medium-6 large-offset-7 large-5 columns">
                                    {exp:weather:data}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
    <section id="views">
        <div class="gray_curve"></div>
        <div class="white_curve"></div>
        <div class="row">
            {exp:channel:entries channel="secciones" entry_id="1|5|2|4" fixed_order="1|5|2|4" limit="4" sort="asc"}
            <div class="medium-6 large-3 columns">
                <a href="{path='en/sections'}/{url_title}">
					{if url_title == "the-wave"}
                    <figure>
                        <img src="{site_url}/img/the_wave@2x.jpg" alt="THE WAVE">
                        <figcaption>
                            <div class="icono">
                                <img src="{site_url}/img/the_wave_icon.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                    <h3>THE <span class="bolder">WAVE</span></h3>
                    {/if}
                    {if url_title == "the-hotel"}
                    <figure>
                        <img src="{site_url}/img/el_hotel@2x.jpg" alt="THE HOTEL">
                        <figcaption>
                            <div class="icono">
                                <img src="{site_url}/img/the_stories_icon.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                    <h3>THE <span class="bolder">HOTEL</span></h3>
                    {/if}
                    {if url_title == "the-crew"}
                    <figure>
                        <img src="{site_url}/img/the_crew@2x.jpg" alt="THE CREW">
                        <figcaption>
                            <div class="icono">
                                <img src="{site_url}/img/the_crew_icon.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                    <h3>THE <span class="bolder">CREW</span></h3>
                    {/if}
                    {if url_title == "beyond-surfing"}
                    <figure>
                        <img src="{site_url}/img/beyond_surfing_cover@2x.jpg" alt="BEYOND SURFING">
                        <figcaption>
                            <div class="icono">
                                <img src="{site_url}/img/beyond_surfing_icon.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                    <h3>BEYOND <span class="bolder">SURFING</span></h3>
                    {/if}
                </a>
            </div>
            {/exp:channel:entries}
        </div>
    </section>
{embed="includes/promo"}
{embed="includes/footer"}