{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  {exp:channel:entries channel="secciones" limit="1"}
  <section class="cover" style="background: url('{imagen_de_fondo}{image:url:large}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%;">
  </section>
  <section id="blur" class="cover" style="background: url('{imagen_de_fondo}{image:url:large_blur}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%; z-index: 0;"></section>
  {/exp:channel:entries}
  <div class="row">
    <div id="form_box_2_container" class="large-12 large-centered columns"> 
      <form id="book_a_room" action="/?/content/reserva" method="POST">
        <input type="hidden" name="XID" value="{XID_HASH}" />
        <div id="form_box_2">
          <div class="row">
            <div id="title_reservation" class="large-12 columns">
              <div class="row">
                <div class="large-4 columns">
                  <h3>NEW RESERVATION</h3>
                </div>
                <div class="large-4 large-offset-4 columns">
                  <p>Phone reservations +511-440-6040</p>
                </div>
              </div>  
              <div class="row">
                <div class="large-9 large-centered columns">
                  <form>
                    <div class="row">
                      <div class="large-3 columns">
                        <input type="text" id="check_in_date" placeholder="CHECK-IN">
                      </div>s
                      <div class="large-3 columns">
                        <input type="text" id="check_out_date" placeholder="CHECK-OUT">
                      </div>
                      <div class="large-1 columns">
                        <label for="right-label" class="inline">Rooms</label>
                      </div>
                      <div class="large-2 columns">
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                      <div class="large-3 columns end">
                        <input type="submit" class="button tiny send expand" value="check again">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="row" id="steps_list">
                <div class="large-9 large-centered columns text-center">
                  <div class="row">
                    <div class="large-3 columns"><span class="circle active">1</span><p>SELECT ROOMS</p></div>
                    <div class="large-3 columns"><span class="circle">2</span><p>ADD SERVICE OPTIONS</p></div>
                    <div class="large-3 columns"><span class="circle">3</span><p>GUEST INFORMATION</p></div>
                    <div class="large-3 columns"><span class="circle">4</span><p>CONFIRMATION</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <h4>SELECT YOUR FIRST ROOM</h4>
            </div>

            <div class="large-12 columns item-room">
              <div class="row">
                <div class="large-4 columns">
                  <figure>
                    <img src="http://chicamasurf.com/images/imagenes_secciones/22/the_rooms__small.jpg" alt="">
                    <a class="text-center" href="#"><span>+</span></a>
                  </figure>
                </div>
                <div class="large-5 columns">
                  <h2>OCEAN VIEW</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque porro, accusantium? Quod facere laborum laboriosam, voluptatum quas, possimus optio quam rem maxime omnis, nesciunt repellat excepturi, eum neque! Provident, incidunt!</p>
                </div>
                <div class="large-3 columns">
                  <div class="row">
                    <div class="large-9 large-centered columns">
                      <select name="persons_number" id="guests_simple_garden0" required="" pattern="number" data-invalid="">
                        <option value="1" selected="selected">Simple</option>
                        <option value="2">Double</option>
                      </select>
                      <h2 id="cost_simple_garden0" class="text-center">USD 100/night</h2>
                      <button id="add_room_simple_garden0" type="button" class="tiny send expand">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="large-12 columns item-room">
              <div class="row">
                <div class="large-4 columns">
                  <figure>
                    <img src="http://chicamasurf.com/images/imagenes_secciones/22/the_rooms__small.jpg" alt="">
                    <a class="text-center" href="#"><span>+</span></a>
                  </figure>
                </div>
                <div class="large-5 columns">
                  <h2>GARDEN VIEW</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque porro, accusantium? Quod facere laborum laboriosam, voluptatum quas, possimus optio quam rem maxime omnis, nesciunt repellat excepturi, eum neque! Provident, incidunt!</p>
                </div>
                <div class="large-3 columns">
                  <div class="row">
                    <div class="large-9 large-centered columns">
                      <select name="persons_number" id="guests_simple_garden0" required="" pattern="number" data-invalid="">
                        <option value="1" selected="selected">Simple</option>
                        <option value="2">Double</option>
                      </select>
                      <h2 id="cost_simple_garden0" class="text-center">USD 120/night</h2>
                      <button id="add_room_simple_garden0" type="button" class="tiny send expand">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="large-12 columns item-room">
              <div class="row">
                <div class="large-4 columns">
                  <figure>
                    <img src="http://chicamasurf.com/images/imagenes_secciones/22/the_rooms__small.jpg" alt="">
                    <a class="text-center" href="#"><span>+</span></a>
                  </figure>
                </div>
                <div class="large-5 columns">
                  <h2>OCEAN VIEW</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque porro, accusantium? Quod facere laborum laboriosam, voluptatum quas, possimus optio quam rem maxime omnis, nesciunt repellat excepturi, eum neque! Provident, incidunt!</p>
                </div>
                <div class="large-3 columns">
                  <div class="row">
                    <div class="large-9 large-centered columns">
                      <select name="persons_number" id="guests_simple_garden0" required="" pattern="number" data-invalid="">
                        <option value="1" selected="selected">Simple</option>
                        <option value="2">Double</option>
                      </select>
                      <h2 id="cost_simple_garden0" class="text-center">USD 100/night</h2>
                      <button id="add_room_simple_garden0" type="button" class="tiny send expand">Select</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>  
  </div>  
</div>  
{embed="includes/footer"}