{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  {exp:channel:entries channel="secciones" limit="1"}
  <section class="cover" style="background: url('{imagen_de_fondo}{image:url:large}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%;">
  </section>
  <section id="blur" class="cover" style="background: url('{imagen_de_fondo}{image:url:large_blur}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%; z-index: 0;"></section>
  {/exp:channel:entries}
  <div class="row">
    <form id="book_a_room" action="/?/content/reserva" method="POST">
    	<input type="hidden" name="XID" value="{XID_HASH}" />
      <div class="large-10 large-centered columns"> 
      	<div id="form_box_2">
      		<div class="row">
      			<div id="title_reservation" class="row">
              <div class="row">
      					<div class="large-4 columns">
      						<h3>NEW RESERVATION</h3>
      					</div>
              </div>  
              <div class="row">
      					<div class="large-12 columns">
                  <form>
                    <div class="row">
                      <!-- <div class="large-1 columns">
                        <label for="right-label" class="inline">Check-in</label>
                      </div> -->
                      <div class="large-2 columns">
                        <input type="text" id="check_in_date" placeholder="Check-in">
                      </div>
                      <!-- <div class="large-1 columns">
                        <label for="right-label" class="inline">Check-out</label>
                      </div> -->
                      <div class="large-2 columns">
                        <input type="text" id="check_out_date" placeholder="Check-out">
                      </div>
                      <div class="large-1 columns">
                        <label for="right-label" class="inline">Rooms</label>
                      </div>
                      <div class="large-2 columns">
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                      <div class="large-2 columns end">
                        <input type="submit" class="button tiny" value="check again">
                      </div>
                    </div>
                  </form>
      					</div>
              </div>  
      			</div>
      		</div>
          <hr>
      		<div class="row">
      			<div id="sub_title_reservation" class="row">
      				<div class="large-4 columns "> 
      					<b><h3 id="step_in_reservation">Room 1 of 4</h3></b>
      					<!-- <b><p>Select from availability below</p></b> -->
      				</div>
      			</div>
      			<!-- <div class="row">
      				<div class="large-5 columns">
      					<h4>Room Type</h4>
      				</div>
      				<div class="large-7 columns">
      					<h4>Average Rate per Night</h4>
      				</div>
      			</div> -->
      			<div class="row" id="rooms0">
              <div class="row">
              	<div class="large-5 columns">
                  <div class="row">
                    <div class="large-5 columns">
                        <figure>
                             <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
                        </figure>
                    </div>
                    <div class="large-7 columns">
    	                <div class="row">
    	                  <div class="large-12 columns">
    	                    <h2 id="type_hab_simple_garden0">Garden View</h2>
    	                  </div>
    	                </div>
                      <!-- <div class="row">
                        <div class="large-6 columns">
                          <p>Guests</p>
                        </div>
                        <div class="large-6 columns">
                          <select name="persons_number" id="guests_simple_garden0" required="" pattern="number" data-invalid="">
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                    	</div> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <figcaption><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laupdantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</p></figcaption>
                    </div>
                  </div>
                </div>
                <div class="large-offset-1 large-6 columns">
                  <div class="row">
                    <!-- <div class="large-6 columns">
                      <p>Guests</p>
                    </div> -->
                    <div class="large-6 columns">
                      <select namcerftuij0opxe="persons_number" id="guests_simple_garden0" required="" pattern="number" data-invalid="">
                        <option value="1" selected="selected">Simple</option>
                        <option value="2">Double</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-8 columns">
                        <!-- <input id="final_cost_simple_garden0" type="text" name="final_cost_simple_garden0" value="100"> -->
                        <!-- <p id="num_guest_simple_garden0">One Guest</p> -->
                        <h2 id="cost_simple_garden0">USD 100/night</h2>
                        <!-- <span>*OFERTA</span> -->
                    </div>
                    <div class="large-4 columns">
                        <button id="add_room_simple_garden0" type="button">Select</button>
                    </div>
                  </div>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="large-5 columns">
                  <div class="row">
                      <div class="large-5 columns">
                          <figure>
                               <img src="http://placehold.it/250x110" alt="Single Room" width="250" height="100">
                          </figure>
                      </div>
                      <div class="large-7 columns">
                          <div class="row">
                              <div class="large-12 columns">
                                  <h2 id="type_hab_simple_ocean0">Ocean View</h2>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="large-6 columns">
                                  <p>Guests</p>
                              </div>
                              <div class="large-6 columns">
                                  <select name="persons_number" id="guests_simple_ocean0" required="" pattern="number" data-invalid="">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                  </select>
                              </div>
                          </div> -->
                      </div>
                  </div>
                  <div class="row">
                      <div class="large-12 columns">
                          <figcaption><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt vitae id possimus dolores quidem distinctio nostrum consequatur et laudantium. Corrupti, eum delectus tenetur doloremque totam dolor perferendis minima consectetur.</p></figcaption>
                      </div>
                  </div>
              	</div>
                <div class="large-offset-1 large-6 columns">
                  <div class="row">
                      <div class="large-6 columns">
                          <select name="persons_number" id="guests_simple_ocean0" required="" pattern="number" data-invalid="">
                            <option value="1" selected="selected">Simple</option>
                            <option value="2">Double</option>
                          </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="large-8 columns">
                          <!-- <input id="final_cost_simple_ocean0" type="text" name="final_cost_simple_ocean0" value="100"> -->
                          <!-- <p id="num_guest_simple_ocean0">One Guest</p> -->
                          <h2 id="cost_simple_ocean0">USD 100/night</h2>
                          <!-- <span>*OFERTA</span> -->
                      </div>
                      <div class="large-4 columns">
                          <button id="add_room_simple_ocean0" type="button">Select</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
      		</div>
      	</div>
      </div>  
    </form>
  </div>  
</div>  
{embed="includes/footer"}