{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  {exp:channel:entries channel="secciones" limit="1"}
  <section class="cover" style="background: url('{imagen_de_fondo}{image:url:large}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%;">
  </section>
  <section id="blur" class="cover" style="background: url('{imagen_de_fondo}{image:url:large_blur}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%; z-index: 0;"></section>
  {/exp:channel:entries}
  <div class="row">
		<form action="#" id="book_a_room">
			<div class="large-10 large-centered columns"> 
				<div id="form_box_3">
					<div class="row">
						<div id="title_reservation" class="row">
								<div class="large-4 columns">
									<h3>NEW RESERVATION</h3>
								</div>
								<div class="large-4 large-offset-4 columns">
									<p>Phone reservations +511-440-6040</p>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns" id="sumary">
							<div class="panel">
								<div class="row">
									<div class="large-12 columns">
										<b><h4>Sumary</h4></b>
									</div>
								</div>
								<div class="row">
									<div class="large-3 columns ">
										<p>Arrival:</p>
									</div>
									<div id="checkout_date" class="large-9 columns">
										<p>15/05/2014</p>
									</div>
								</div>
								<div class="row"> 
									<div class="large-3 columns">
										<p>Departure:</p>
									</div>
									<div id="checkin_date" class="large-9 columns">
										<p>25/05/2014</p>
									</div>
								</div>
								<div class="row"> 
									<div class="large-6 columns">
										<p>Number of nights:</p>
									</div>
									<div id="checkin_date" class="large-6 columns">
										<p>2</p>
									</div>
								</div>
								<div class="row"> 
									<div class="large-6 columns">
										<p>Number of rooms:</p>
									</div>
									<div id="checkin_date" class="large-6 columns">
										<p>2</p>
									</div>
								</div>
								<div class="row">
									<div class="large-12 columns">
										<b><h5>Room 1</h5></b>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<p>Room Type:</p>
									</div>
									<div class="large-6 columns">
										<p>Single</p>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<p>Reservation Type:</p>
									</div>
									<div class="large-6 columns">
										<p>Value Pack</p>
									</div>
								</div>
								<div class="row">
									<div class="large-12 columns">
										<b><h5>Room 2</h5></b>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<p>Room Type:</p>
									</div>
									<div class="large-6 columns">
										<p>Single</p>
									</div>
								</div>
								<div class="row">
									<div class="large-6 columns">
										<p>Reservation Type:</p>
									</div>
									<div class="large-6 columns">
										<p>Breakfast Only</p>
									</div>
								</div>
								<div class="row">
									<div class="large-12 columns">
										<b><h4>Costs</h4></b>
									</div>
								</div>
								<div class="row">
									<div class="large-4 columns">
										<p>Rooms</p>
									</div>
									<div class="large-4 columns">
										<p>USD 440</p>
									</div>
								</div>
								<div class="row">
									<div class="large-4 columns">
										<p>Tax</p>
									</div>
									<div class="large-4 columns">
										<p>USD 50</p>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="large-4 large-offset-4 columns">
										<p>Total Cost</p>
									</div>
									<div class="large-4 columns">
										<p>USD 490</p>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<div class="row">
								<div id="title_reservation" class="row">
										<div class="large-4 columns">
											<h3>ADD-ONS</h3>
										</div>
								</div>
							</div>
							<div class="panel">
								<div class="row">
									<div class="large-12 columns" id="addons">
										<div class="row">
											<div class="addon">
												<div class="large-7 columns">
													<h4>ALL MEALS</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, saepe, praesentium, amet blanditiis sed at expedita molestias officia odit modi officiis esse distinctio. Quas, neque odio consectetur magni cum dolore!
													</p>
												</div>
												<div class="large-4 columns">
													<div class="row">
														<h2 id="">USD 100</h2>
														<div class="large-3 columns">
															<label for="people" class="inline">People</label>
														</div>	
														<div class="large-9 columns">
				                      <select id="people">
				                        <option value="1">1</option>
				                        <option value="2">2</option>
				                        <option value="3">3</option>
				                      </select>
				                    </div>
														<input id="meals" type="checkbox"><label for="meals">ADD TO TRIP</label>
													</div>
												</div>	
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="addon">
												<div class="large-7 columns">
													<h4>TRANSPORTATION</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, saepe, praesentium, amet blanditiis sed at expedita molestias officia odit modi officiis esse distinctio. Quas, neque odio consectetur magni cum dolore!
													</p>
												</div>
												<div class="large-4 columns">
													<h2 id="">USD 100</h2>
													<input id="meals" type="checkbox"><label for="meals">ADD TO TRIP</label>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
                      <button id="add_room_simple_ocean0" type="button" class="send">Continue</button>
                </div>
              </div>
						</div>
				</div>
			</div>
		</form>
	</div>
</div>	
{embed="includes/footer"}