{exp:channel:entries channel="secciones" limit="1"}
{imagen_de_fondo limit="1"}
{embed="includes/header" imagen="{image:url:large}" titulo="{title}"}
{/imagen_de_fondo}
{/exp:channel:entries}
<div class="book_container cover_container">
  {exp:channel:entries channel="secciones" limit="1"}
  <section class="cover" style="background: url('{imagen_de_fondo}{image:url:large}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%;">
  </section>
  <section id="blur" class="cover" style="background: url('{imagen_de_fondo}{image:url:large_blur}{/imagen_de_fondo}') no-repeat; background-size: cover;background-position: center center; min-height: 100%; z-index: 0;"></section>
  {/exp:channel:entries}
  <div class="row">
		<form action="#" id="book_a_room">
			<div class="large-10 large-centered columns"> 
				<div id="form_box_5">
					<div class="row">
						<div id="title_reservation" class="">
								<div class="large-4 large-centered text-center columns">
									<h2>THANK YOU</h2>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<div class="row">
								<div id="title_reservation" class="">
										<div class="large-4 columns">
											<h3>SUMMARY</h3>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns" id="sumary">
							<div class="row">	
								<div class="large-12 columns">
									<table class="text-center">
									  <thead>
									    <tr>
									      <th>Arrival</th>
									      <th>Departure</th>
									      <th>Number of nights</th>
									      <th>Number of rooms</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>15/05/2014</td>
									      <td>25/05/2014</td>
									      <td>2</td>
									      <td>2</td>
									    </tr>
									  </tbody>
									</table>
								</div>	
							</div>	
							<div class="row">	
								<div class="large-4 columns">
									<h4>Room 1</h4>
									<table class="text-center">
									  <thead>
									    <tr>
									      <th>Room type</th>
									      <th>Reservation type</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Single</td>
									      <td>Value pack</td>
									    </tr>
									  </tbody>
									</table>
								</div>	
								<div class="large-4 columns">	
									<h4>Room 2</h4>
									<table class="text-center">
									  <thead>
									    <tr>
									      <th>Room type</th>
									      <th>Reservation type</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Single</td>
									      <td>Breakfast Only</td>
									    </tr>
									  </tbody>
									</table>
								</div>	
								<div class="large-4 columns end">	
									<h4>Costs</h4>
									<table class="">
									  <thead>
									    <tr>
									      <th>Items</th>
									      <th>Price</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Room 1</td>
									      <td>USD 50</td>
									    </tr>
									    <tr>
									      <td>Room 2</td>
									      <td>USD 70</td>
									    </tr>
									  </tbody>
									  <tfoot>
									    <tr>
									      <td>Tax</td>
									      <td>USD 10</td>
									    </tr>
									    <tr>
									      <td>Total cost</td>
									      <td>USD 130</td>
									    </tr>
									  </tfoot>
									</table>
								</div>	
							</div>
						</div>
					</div>
				</div>	
			</div>
		</form>
	</div>
</div>	
{embed="includes/footer"}